{% extends "base.html" %}
{% load i18n static %}

{% block title %}Welcome to Django store{% endblock %}
{% block head %}Welcome to Django store{% endblock %}
{% block content %}

   <p>{% trans "Account" %} <a href="{% url 'useraccount' %}">{% trans "Account" %}</a>.</p>

   <p>{% trans "Change Password" %} <a href="{% url 'auth_password_change' %}">{% trans "Change Password" %}</a>.</p>
	

  {% if request.user.is_authenticated %}
    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
  {% endif %}
	{% if user.username %}
		<p>Welcome {{ user.username }}!Here your page content</p>
	{% else %}
		<p>Welcome anonymous user!
		You need to login</p><br/>
	{% endif %}
	
<table>
    <tr>
        <td> Apps </td>
        
    </tr>

    {% for key, value in assigned_apps.items %}
    <tr>
        <td><a href="{{value}}" > {{key}} </a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}