{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% load get_item %}
{% block title %}
{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}

{% if form.errors %}
    <div class="alert alert-error">
      <h4>Please fix the following errors</h4>
      <ul>
        {% for field,error in form.errors.items %}
                <li><p id="#id_{{ field }}" class="error">{{ field }}:{{ error|escape }}</p></li>
         {% endfor %}
               
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}
 <form class="form-horizontal" action="{% url 'appointmentschduler:WorkingTimeOptionsEdit' %}" role="form" method="POST">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Day of week</th>
                    <th>Is Day off</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Lunch from</th>
                    <th>Lunch to</th>
                </tr>
            </thead>
            <tbody>
                {% for eachdayschd in weeksrecord %}

                <tr id ="{{ eachdayschd.week_day }}">
                    <td>{{ eachdayschd.week_day }}</td>
                    <td><input type="checkbox" class="form-control" name="{{ eachdayschd.week_day }}_isday_off" value="1"
                    {% if eachdayschd.is_dayoff == 1 %}
                        checked
                    {% endif %} /></td>
                    <td><input class="form-control time-picker" type="text" name="{{ eachdayschd.week_day }}_from" value="{{ eachdayschd.start_time }}" /></td>
                    <td><input class="form-control time-picker" type="text" name="{{ eachdayschd.week_day }}_to" value="{{ eachdayschd.end_time }}" /></td>
                    <td><input class="form-control time-picker" type="text" name="{{ eachdayschd.week_day }}_launch_from" value="{{ eachdayschd.start_launch }}" /></td>
                    <td><input class="form-control time-picker" type="text" name="{{ eachdayschd.week_day }}_launch_to" value="{{ eachdayschd.end_launch }}" /></td>
                    <input  type="hidden" name="{{ eachdayschd.week_day }}_date" value="{{ eachdayschd.start_date }}" />
                </tr>
                {% endfor %}
           
            </tbody>
        </table>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-offset-6 col-sm-6">
                <button class="btn btn-submit" type="submit">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </form>
     {% endblock %}