{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %} 
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
</style>

<div>
<div class="notice-box">
<span class="notice-info">&nbsp;</span>
<span class="block bold">Add a booking</span>
    <span class="block">Fill in the form below to add a new booking. Under Clients tab you can enter information about the client. </span>
    <div> <p>{{ formerrors|default_if_none:"" }}</p> </div>
    <div> <p>{{ customerrors|default_if_none:"" }}</p> </div>
    <a href="#" class="notice-close"></a>		</div>
     <form class="form pj-form"   name="addbooking" autocomplete="off" enctype="multipart/form-data" novalidate="novalidate"  ng-app="ServiceMod"
           action="{% url 'appointmentschduler:addbooking' %}" method="post"  onsubmit="return validatebookingform()"  > {% csrf_token %}
            <fieldset class="fieldset white">
					<legend>Booking details</legend>
					<div class="float_left w450">
						<p>
							<label class="title">Unique ID:</label>
							<input type="text" name="uuid" id="uuid" class="pj-form-field w100 required" value="{{ bookingid }}" aria-required="true" >
						</p>
						<p>
							<label class="title">Status:</label>
							<input type="text" name="booking_status" id="booking_status" class="pj-form-field required valid" aria-required="true" aria-invalid="false" value="pending">
							<input type="hidden" name="default_status_if_paid" id="default_status_if_paid" value="">
							<input type="hidden" name="default_status_if_not_paid" id="default_status_if_not_paid" value="">
							<input type="hidden" id="service_booked_id" name="service_booked_id" value="" >
							<input type="hidden" id="svcdate" name="svcdate" value=""  >
							<input type="hidden" id="svc_start_time" name="svc_start_time" value=""  >
							<input type="hidden" id="svc_end_time" name="svc_end_time" value=""  >
							<input type="hidden" id="servicedetails_name" name="servicedetails_name" value=""  >
							<input type="hidden" id="employeeid" name="employeeid"  value="" >
							<input type="hidden" id="book_exist" name="book_exist"  value="" >

														
						</p>

					</div>

				<div id="serviceerror"></div>
					<p>
						<label class="title">&nbsp;</label>
						<input type="button" value="+ Add service" class="pj-button item-add" id="myBtn">
						<div id="addservices"> </div>
						<div id="myModal" class="modal">

							  <!-- Modal content -->
							  <div class="modal-content">
								<div class="modal-header">
								  <span class="close">&times;</span>
								  <h2>Modal Header</h2>
								</div>
								<div class="modal-body">

								  <input type="text" name="servicedate" id="servicedate" class="pj-form-field w500" value="{{ defaultdate }}">
									<select name="services" id="services" >
									</select>

								</div>
								<div class="modal-footer">
								  <h3>Modal Footer</h3>
								</div>
							  </div>

						</div>

							<div id="serviceModal" class="modal">

							  <!-- Modal content -->
							  <div class="modal-content">
								<div class="modal-header">
								  <span class="close">&times;</span>
								  <h2>Modal Header</h2>
								</div>
								<div class="modal-body">

								  <input type="text" name="servicedate_updated" id="servicedate_updated" class="pj-form-field w500" value="{{ defaultdate }}">
									<select name="servicedetails" id="servicedetails">
									</select>
									<div class="asContainer" id="employeedetails">
									<div>   Start Time: <input type="text" name="starttime" id="starttime"></div>
									<div id="duration">   End Time: <input type="text" name="endtime" id="endtime"></div>
									<div>   Employee name: <input type="text" name="employeeidselected" id="employeeidselected"></div>

										<div class="asEmployeeInfo" id="asEmployeeInfo"> <div class="asEmployeeTimeslots"> </div> </div>
										<input type="button" id="addemployeeinfo" value="Add">

									</div>
								</div>
								<div class="modal-footer">
								  <h3>Modal Footer</h3>
								</div>
							  </div>

						</div>
						<input type="button" value="Recalculate the price" class="pj-button order-calc">
					</p>
					<div class="float_left w350 t15">
						
						<p>
							<label class="title">Price:</label>
							<span class="pj-form-field-custom pj-form-field-custom-before">
								<span class="pj-form-field-before"><abbr class="pj-form-field-icon-text">€</abbr></span>
								<input type="text" name="booking_price" id="booking_price" class="pj-form-field number w90 required" aria-required="true">
							</span>
						</p>
						<p>
							<label class="title">Deposit:</label>
							<span class="pj-form-field-custom pj-form-field-custom-before">
								<span class="pj-form-field-before"><abbr class="pj-form-field-icon-text">€</abbr></span>
								<input type="text" name="booking_deposit" id="booking_deposit" class="pj-form-field number w90" onblur="validate_deposit()">
								<input type="hidden" id="required_deposit" name="required_deposit" >

							</span>
						</p>
						<p>
							<label class="title">Tax:</label>
							<span class="pj-form-field-custom pj-form-field-custom-before">
								<span class="pj-form-field-before"><abbr class="pj-form-field-icon-text">€</abbr></span>
								<input type="text" name="booking_tax" id="booking_tax" class="pj-form-field number w90" >
							</span>
						</p>
						<p>
							<label class="title">Total:</label>
							<span class="pj-form-field-custom pj-form-field-custom-before">
								<span class="pj-form-field-before"><abbr class="pj-form-field-icon-text">€</abbr></span>
								<input type="text" name="booking_total" id="booking_total" class="pj-form-field number w90" >
							</span>
						</p>

					</div>
					<div class="float_right w350 t15">
						<p>
							<label class="title">Notes:</label>
							<textarea name="c_notes" id="c_notes" class="pj-form-field w334 h120"></textarea>
						</p>
					</div>
				</fieldset>
    <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
						<div class="notice-box">
			<span class="notice-info">&nbsp;</span>
			<span class="block bold">Client details</span><span class="block">Use the form below to enter details about your client.</span><a href="#" class="notice-close"></a>		</div>
						<fieldset class="fieldset white">
					<legend>Customer details</legend>
					<div class="float_left w360">
					   {% if customer_fields.c_country in  'yes,required' %}
						<p>
							<label class="title">Country:</label>
							{% if customer_fields.c_country == "yes" %}
							<select name="c_country" id="c_country" class="pj-form-field w180 custom-chosen" ng-model="c_country" >
							{% elif customer_fields.c_country == "required"  %}
							<select name="c_country" id="c_country" class="pj-form-field w180 custom-chosen" ng-model="c_country" required>
							{% endif %}

								<option value="">-- Choose --</option>
								{% for country in countries %}
								    <option value="{{ country.id }}">{{ country.CountryName }}</option>
								{% endfor %}
							</select>
							<span ng-messages="addbooking.c_country.$error" style="color:maroon" role="alert">
								  <span ng-message="required">This field is required</span>
							</span>

							
						</p>
						{% endif %}

					   {% if customer_fields.c_state in  'yes,required' %}
						<p>
							<label class="title">State:</label>
							{% if customer_fields.c_state == "yes" %}
							<input type="text" name="c_state" id="c_state" class="pj-form-field w180"
							ng-model="c_state"   ng-pattern="/^\w+$/">
							{% elif customer_fields.c_state == "required"  %}
							<input type="text" name="c_state" id="c_state" class="pj-form-field w180"      ng-model="c_state"   ng-pattern="/^\w+$/" required >
							{% endif %}
							<span ng-messages="addbooking.c_state.$error" style="color:maroon" role="alert">
								  <span ng-message="required">This field is required</span>
							</span>

						 <div ng-messages="addbooking.c_state.$error"  ng-show="addbooking.c_state.$invalid && !addbooking.c_state.$pristine " style="color:maroon" role="alert" >
				                <div ng-message="pattern">Must be a valid emp name</div>
				         </div>
						</p>
					  {% endif %}
					</div>
					<div class="float_right w350">
					   {% if customer_fields.c_city in  'yes,required' %}
						<p>
							<label class="title">City:</label>
							{% if customer_fields.c_city == "yes" %}
							<input type="text" name="c_city" id="c_city" class="pj-form-field w160"
							ng-model="c_city"   ng-pattern="/^\w+$/">
							{% elif customer_fields.c_city == "required"  %}
							<input type="text" name="c_city" id="c_city" class="pj-form-field w160"
							 ng-model="c_city"   ng-pattern="/^\w+$/" required>
							{% endif %}

							<span ng-messages="addbooking.c_city.$error" style="color:maroon" role="alert">
								  <span ng-message="required">This field is required</span>
							</span>

						 <div ng-messages="addbooking.c_city.$error"  ng-show="addbooking.c_city.$invalid && !addbooking.c_city.$pristine " style="color:maroon" role="alert" >
				                <div ng-message="pattern">Must be a valid emp name</div>
				         </div>
						</p>
			 			{% endif %}
					   
  					   {% if customer_fields.c_zip in  'yes,required' %}
						<p>
							<label class="title">Zip:</label>
							{% if customer_fields.c_zip == "yes" %}
							<input type="text" name="c_zip" id="c_zip" class="pj-form-field w80">
							{% elif customer_fields.c_zip == "required"  %}
							<input type="text" name="c_zip" id="c_zip" class="pj-form-field w80"
							    ng-model="c_zip"   ng-pattern="/^\w+$/" required>
						{% endif %}
						<span ng-messages="addbooking.c_zip.$error" style="color:maroon" role="alert">
						  <span ng-message="required">zip field is required</span>
						</span>
					 
						</p>
			 			{% endif %}

					</div>
					<br class="clear_both">

				   {% if customer_fields.c_name in  'yes,required' %}
					<p>
						<label class="title">Name:</label>
						{% if customer_fields.c_name == "yes" %}
							<input type="text" name="c_name" id="c_name" class="pj-form-field w300 "
							ng-model="c_name"  ng-minlength="3" ng-maxlength="100" ng-pattern="/^\w+$/" >
						{% elif customer_fields.c_name == "required"  %}
							<input type="text" name="c_name" id="c_name" class="pj-form-field w300 required"  ng-model="c_name"  ng-minlength="3" ng-maxlength="100" ng-pattern="/^\w+$/" required>
						{% endif %}
							<span ng-messages="addbooking.c_name.$error" style="color:maroon" role="alert">
								  <span ng-message="required">Customer field is required</span>
						</span>

						 <div ng-messages="addbooking.c_name.$error"  ng-show="addbooking.c_name.$invalid && !addbooking.c_name.$pristine " style="color:maroon" role="alert" >
				     
				                <div ng-message="pattern">Must be a valid customer name</div>
				         </div>
					</p>
		 			{% endif %}

				   {% if customer_fields.c_email in  'yes,required' %}
					<p>
						<label class="title">Email:</label>
						<span class="pj-form-field-custom pj-form-field-custom-before">
							<span class="pj-form-field-before"><abbr class="pj-form-field-icon-email"></abbr></span>
							{% if customer_fields.c_email == "yes" %}
								<input type="text" name="c_email" id="c_email" class="pj-form-field email w250"  ng-model="c_email"  ng-maxlength="254"   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" >
							{% elif customer_fields.c_email == "required"  %}
								<input type="text" name="c_email" id="c_email" class="pj-form-field email w250" ng-model="c_email"  ng-maxlength="254"   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  required>
							{% endif %}
						</span>

						<span ng-messages="addbooking.c_email.$error" style="color:maroon" role="alert">
								  <span ng-message="required">Customer email field is required</span>
						</span>

						<span ng-messages="addbooking.c_email.$error" style="color:maroon" role="alert">
						  <span ng-message="email">Customer email address is invalid</span>
			              <span ng-message="pattern">Customer email is invalid </span>
						</span>

					</p>
		 			{% endif %}
		
				   {% if customer_fields.c_phone in  'yes,required' %}
					<p>
						<label class="title">Phone:</label>
						<span class="pj-form-field-custom pj-form-field-custom-before">
							<span class="pj-form-field-before"><abbr class="pj-form-field-icon-phone"></abbr></span>
						{% if customer_fields.c_phone == "yes" %}
								<input name="c_phone" id="c_phone" class="pj-form-field w250" type="tel"  ng-model="c_phone"   ng-pattern="/^\+[0-9]{10,14}$/"  >
						{% elif customer_fields.c_phone == "required"  %}
							<input  name="c_phone" id="c_phone" class="pj-form-field w250" type="tel"  ng-model="c_phone"   ng-pattern="/^\+[0-9]{3,}$/"  required	 >
						{% endif %}
						</span>
						<span ng-messages="addbooking.c_phone.$error" style="color:maroon" role="alert">
								  <span ng-message="required">Customer phone field is required</span>
						</span>
						<span ng-messages="addbooking.c_phone.$error"   style="color:maroon" role="alert">
							  <span ng-message="pattern">Phone must be a valid phone number</span>
						</span>
					</p>
	 			{% endif %}
			
				 {% if customer_fields.c_address_1 in  'yes,required' %}
				<p>
					<label class="title">Address Line 1:</label>
					{% if customer_fields.c_address_1 == "yes" %}
						<input type="text" name="c_address_1" id="c_address_1" class="pj-form-field w500"  ng-model="c_address_1"   >
					{% elif customer_fields.c_address_1 == "required"  %}
						<input type="text" name="c_address_1" id="c_address_1" class="pj-form-field w500" ng-model="c_address_1" required>
					{% endif %}
					<span ng-messages="addbooking.c_address_1.$error" style="color:maroon" role="alert">
								  <span ng-message="required">Customer address1 field is required</span>
						</span>
				</p>
	 			{% endif %}
		
				 {% if customer_fields.c_address_2 in  'yes,required' %}
				<p>
					<label class="title">Address Line 2:</label>
					{% if customer_fields.c_address_2 == "yes" %}
					<input type="text" name="c_address_2" id="c_address_2" class="pj-form-field w500">
					{% elif customer_fields.c_address_2 == "required"  %}
					<input type="text" name="c_address_2" id="c_address_2" class="pj-form-field w500"
					 ng-model="c_address_2" required>
					{% endif %}
					<span ng-messages="addbooking.c_address_2.$error" style="color:maroon" role="alert">
			 			 <span ng-message="required">Customer address2 field is required</span>
					</span>
				</p>
	 			{% endif %}
	 			<p>
				
 				<span>
 				<label><input name="reminder_email" id="reminder_email"  type="checkbox" > Send reminder email  when new booking is made</label>
 				<input name="reminder_email_value" id="reminder_email_value"  type="hidden" >
				</span>
				<span >
				<label><input name="reminder_sms" id="reminder_sms"  type="checkbox"  > Send SMS reminder sms new booking is made</label>
				<input name="reminder_sms_value" id="reminder_sms_value"  type="hidden" >


				</span>

				<span>
				<label><input name="subscribed_email" id="subscribed_email"  type="checkbox"  checked> Send SMS when new booking is made</label>
				 <input name="subscribed_email_value" id="subscribed_email_value"  type="hidden" >

				</span>
				<span>
				<label><input name="subscribed_sms" id="subscribed_sms"  type="checkbox" checked > Send Email when new booking is made</label>
				 <input name="subscribed_sms_value" id="subscribed_sms_value"  type="hidden" >

				</span>

				<p>
					<label class="title">&nbsp;</label>
					<input type="submit" value="Save" class="pj-button">
					
				</p>

				</fieldset>

			</div>
     </form>
    </div>


<!-- Trigger/Open The Modal -->
<!-- The Modal -->

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal


var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var addservice = document.getElementById("addemployeeinfo");
var servicedetails = document.getElementById("servicedetails");

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
    listServices();
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";


}

$('body').on('click', 'input.deleteDep', function() {
   $('#addservices').empty();  
   btn.disabled = false;
});

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if (event.target == serviceModal) {
        serviceModal.style.display = "none";
    }

}

// When the user clicks the button, open the modal
services.onchange = function() {
    modal.style.display = "none";

    serviceModal.style.display = "block";
    $('#servicedate_updated').val($('#servicedate').val())
    selectedservice();
    get_employee_details();
}

 $('#servicedate_updated').on("change" ,function() {


	$('#employeeidselected').val("");
	$('#asEmployeeInfo').val("");

});

servicedetails.onchange = function() {
	$('#starttime').val("");
	$('#endtime').val("");
	$('#employeeidselected').val("");
    selectedservice();
    get_employee_details();
}

addservice.onclick = function() {
    serviceModal.style.display = "none";
	time_st = $('#starttime').val();
	time_end = $('#endtime').val();
	empid = $('#employeeidselected').val();
	if ( ( time_st == undefined || !Boolean( time_st.trim() ) ) || ( time_st == undefined || !Boolean( time_st.trim() ) ) || ( time_st == undefined || !Boolean( time_st.trim() ) ) ) {
		alert("Add  time");
		return false ;
	}

    addservices()

}

function validatebookingform() {
	var subscribed_email = document.getElementById("subscribed_email");
	$('#subscribed_email_value').val(Number(subscribed_email.checked)) ;
	
	var subscribed_sms = document.getElementById("subscribed_sms");
	$('#subscribed_sms_value').val(Number(subscribed_sms.checked)) ;


	var reminder_email = document.getElementById("reminder_email");
	$('#reminder_email_value').val(Number(reminder_email.checked)) ;

	var reminder_sms = document.getElementById("reminder_sms");
	$('#reminder_sms_value').val(Number(reminder_sms.checked)) ;
	// alert($('#servicedate').val());
	// alert($('#svc_start_time').val());
	// alert($('#svc_end_time').val());
	// alert( $('#employeeid').val());
	$.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:is_booking_exist'  %}",
            async: false,
			data: {
				"employeeid" : $('#employeeid').val(),
				"servicedate" : $('#servicedate').val(),
				"svc_start_time" : $('#svc_start_time').val(),
				"svc_end_time"	: $('#svc_end_time').val()
			},

            success:function(data){
                if(data) {
                	$('#book_exist').val("no");
                	alert(data);
                	return false;

                }
                else {
                	$('#book_exist').val("yes");
                }
            }
    });


	if ($('#addservicedata tr').length < 2 ) {

			document.getElementById("serviceerror").innerHTML = "<b>Please Add service details</b>";
			return false ;
	}

	return true;
}

function addservices() {
	servicedetails_id =  $('#servicedetails :selected').val();
	servicedetails_name =  $('#servicedetails :selected').text();
	employeename = $('#employeeidselected').val();
	employeeid = $('#employeeidselected').attr("name");
	// get price for the service 
	 var rows = $('#addservicedata  tr');
	 ids =[];
	 $("#addservicedata").find("tr").each(function(){
        id = $(this).attr("id");
        if(id && Boolean( id.trim()) ) {
           	ids.push(id);
        }
      });
	 ids.push(servicedetails_id);
	  console.log(ids);
    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:getserviceprice'  %}",
            data: { "serviceids" : ids},
            async: false,

            success:function(response){
                // console.log(response);
                costdetails=eval(response);
                serviceprice = costdetails.price;
                default_status_if_paid = costdetails.default_status_if_paid;
                default_status_if_not_paid = costdetails.default_status_if_not_paid
                total_price = costdetails.total_price ;
                $('#booking_price').val(costdetails.total_price);
                $('#required_deposit').val(costdetails.deposit);
                $('#booking_tax').val(costdetails.tax);
                $('#booking_total').val(costdetails.total);
                $('#default_status_if_not_paid').val(default_status_if_not_paid);
                $('#default_status_if_paid').val(default_status_if_paid);

 				booking_deposit  = document.getElementById("booking_deposit").value;
 				required_deposit  =  document.getElementById("required_deposit").value;
                if( booking_deposit &&  Boolean( booking_deposit.trim()) ) {

  					if ( parseFloat(booking_deposit) < parseFloat(total_price) ){
						// add to html default_status_if_not_paid
						$('#booking_status').val( default_status_if_not_paid);
					}
					else {
						// add to html default_status_if_paid
						$('#booking_status').val(default_status_if_paid);
					}

                 	if (parseFloat(booking_deposit) < parseFloat(required_deposit) )
                    {	
       
	                	alert(" Minimum deposit is atleast " + required_deposit);
						document.getElementById("booking_deposit").value= "";
					}
				}
           	// 	alert($('#booking_deposit').val());
          		// alert($('#required_deposit').val());

            //     alert(serviceprice);
		     }
          });     
	service_date = $('#servicedate_updated').val()
	start_time = $('#starttime').val();

	if ($('#addservicedata tr').length < 2 ) {
	    $('#addservices').append('<table id="addservicedata" class="table table-striped table-bordered table-hover"    cellspacing="0" width="100%" ></table>');
	     table = $('#addservices').children();
	    table.append('<tr><th>Service/Employee</th><th>Date/Time</th><th>Price</th></tr>');
	    table.append('<tr id=' + servicedetails_id + '><td>' + servicedetails_name + employeename + '</td><td>' + service_date +start_time + '</td><td>' + serviceprice + '</td>  <td> <input type="button" class="deleteDep" value="Delete"/></td></tr>');
	    btn.disabled=true;
	    $('#service_booked_id').val(servicedetails_id);
	    $('#svc_start_time').val(start_time);
	    $('#svc_end_time').val( $('#endtime').val());
	    $('#svcdate').val(service_date);
	    $('#servicedetails_name').val(servicedetails_name);
	    $('#employeeid').val($('#employeeidselected').attr("name"));

	}

	// alert($('#addservicedata tr').length);

	//  $("#services").val("");
 //    $("#servicedetails").val("");
 //    $('#asEmployeeInfo').html("");
 //    $('#starttime').val("");
 //    $('#endtime').val("");
 //    $('#employeeidselected').val("");
	document.getElementById("servicedetails").innerHTML = "";
	document.getElementById("services").innerHTML = "";


}




function listServices() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
                document.getElementById("servicedetails").innerHTML = "";
				document.getElementById("services").innerHTML = "";
				$('#starttime').val("");
				$('#endtime').val("");
				$('#employeeidselected').val("");
				$('#servicedate_updated').val("");
				$('#asEmployeeInfo').val("");
                var $select = $('#services');

                $select.append('<option value=""  selected>Please select a service...</option>')

                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                           $select.append('<option value="' + servicelist[i].id + '">' + servicelist[i].name +'</option>');
                      }

                }

            }
      });
  }

 function selectedservice() {
 	
    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",
            async: false,

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
                var $select = $('#servicedetails');
				serviceid =  $('#services :selected').val();
				servicedetails_id =  $('#servicedetails :selected').val();
				if (servicedetails_id != undefined && Boolean( servicedetails_id.trim() ) ){

					if (serviceid != servicedetails_id) {
						serviceid = servicedetails_id;
					}
				}
                if (servicelist != null &&  servicelist.length > 0  ){
                	$select.append('<option value=""  selected>Please select a service...</option>')

				    $.each(servicelist, function(key, val){
							if (val.id == serviceid) {

							$select.append('<option selected value="' + val.id + '">' + val.name + '</option>');
							}
							else {
								$select.append('<option value="' + val.id + '">' + val.name + '</option>');

							}
				   });
                }

            }
      });
}

function  get_employee_details() {
		serviceid =  $('#services :selected').val();
		servicedate =  $('#servicedate_updated').val();
		 var $select = $('#servicedetails');
		serviceid =  $('#services :selected').val();
		servicedetails_id =  $('#servicedetails :selected').val();
		if (servicedetails_id != undefined && Boolean( servicedetails_id.trim() ) ){

			if (serviceid != servicedetails_id) {
				serviceid = servicedetails_id;
			}
		}
       $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:employeeinbooking'  %}",
			data: {
				"serviceid" : serviceid,
				"servicedate" : servicedate
			},
			dataType: "json", //set to JSON    

            success:function(data){
                // console.log(response);

	            var employeedetails = data;
	            if(employeedetails.error_message != undefined) {
					alert(employeedetails.error_message) ;  
					modal.style.display = "none";
				    serviceModal.style.display = "none";
				    $("#services").val("");
				    $("#servicedetails").val("");
				    return false ;

				}    


	            var output="";

	            for (var i in employeedetails) 
	            {
	                output+="<div><span id=" + employeedetails[i].id + ">" + employeedetails[i].name  + "</span>";
	                output +='<span> <img src=' + employeedetails[i].image + ' alt="Smiley face" height="42" width="42"></span>';
	                 for (var j in employeedetails[i].workinghours) 
		            {
		            	 if (employeedetails[i].workinghours[j].status == "on" ) {
		            	 	start_hour = employeedetails[i].workinghours[j].interval
		            	 	end_hour = employeedetails[i].workinghours[j].end_hour
		            		start_hour_id =	start_hour.replace(/\s+/g,"")
		            		end_hour_id =	end_hour.replace(/\s+/g,"")
		            		span_id= start_hour_id + "," + end_hour_id

		                	output+='<span style="color:blue;" id=\"' + span_id + '\" onclick="addtotime(this)" >' + start_hour  + "</span>&nbsp;&nbsp;";
	

		            	}
		                else {
		                    output+="<span>" + employeedetails[i].workinghours[j].interval  + "</span>&nbsp;&nbsp;";
		                }

		                

		            }
		            output+="</div>";

	            }
	            
	            $('#asEmployeeInfo').html(output);

            }
      });
  }

 function addtotime(obj) {
 	var res = obj.id.split(",");
 	start_t = res[0];
 	end_t = res[1];
     var start_t = start_t.replace(/(AM|PM)/g," $1");
     var end_t = end_t.replace(/(AM|PM)/g, " $1");


 	$('#starttime').val(start_t);
 	 $('#endtime').val(end_t);
 	 pdiv = $(obj).parent('div');
     empspan = $('span:first', pdiv);
     employeename = empspan.text();
     employeeid = empspan.attr("id");

 	 $('#employeeidselected').val(employeename);
 	 $('#employeeidselected').attr("name", employeeid);

 }

 function validate_deposit() {
 	booking_deposit  = document.getElementById("booking_deposit").value;
 	// $('booking_deposit').val();
 	required_deposit  =  document.getElementById("required_deposit").value;
 // $('required_deposit').val();
 	default_status_if_paid = $('#default_status_if_paid').val();
 	default_status_if_not_paid = $('#default_status_if_not_paid').val();

	total_price = $('#booking_total').val();
 	 if( booking_deposit &&  Boolean( booking_deposit.trim()) ) {

		if ( parseFloat(booking_deposit) < parseFloat(total_price) ){
			// add to html default_status_if_not_paid
			$('#booking_status').val( default_status_if_not_paid);
		}
		else {
			// add to html default_status_if_paid
			$('#booking_status').val(default_status_if_paid);
		}

     	if (parseFloat(booking_deposit) < parseFloat(required_deposit) )
        {	
        	alert(" Minimum deposit is atleast " + required_deposit);
			document.getElementById("booking_deposit").value= "";
		}
	}

 }


</script>


{% endblock %}