{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}

<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listServices() ;
  
});

var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listServices() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          serviceName+= "<label for=" + servicelist[i].name +  ' > <input type="checkbox" name=' + "check" + servicelist[i].id  + ' ng-model=' + "servicedata.check" + servicelist[i].id.toString() +       " value=" + servicelist[i].id + " />" + servicelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( serviceName);

                }

            }
      });
  }
        

</script>

 

<div id="container">
    <div id="header">
        <div id="logo">
            <a href="javascript:void();" target="_blank" rel="nofollow">
                365 Plateform</a> <span>v1.0</span>
        </div>
    </div>
    <div id="middle">

        <div id="right">
        <div class="PPPcontent-top">

            <div class="content-middle" id="content">
            <div class="notice-box">
			<span class="notice-info">&nbsp;</span>
			<span class="block bold">Add an employee</span><span class="block">Fill in the form below to add a new employee. You can select the service that this employee does. You can also configure it so an email and/or sms notification is sent to the employee when a booking is made. Each employee can access the Appointment Scheduler and manage his/her bookings only.</span><a href="#" class="notice-close"></a>		</div>

         <form ng-app="ServiceMod" ng-controller="EmployeeCtrl"  id="frmCreateEmployee" class="form pj-form" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
		<input name="employee_create" value="1" type="hidden">
		<input style="display:none">
		<input style="display:none" type="password">
					<p class="pj-multilang-wrap" data-index="1" style="display: ">
				<label class="title">Employee name:</label>
				<span class="inline_block">
                   <input id="id_emp_name" maxlength="100" name="emp_name" ng-model="employeedata.emp_name" type="text" />

            </span>
			</p>
					<p>
			<label class="title">Notes:</label>
			   <input id="id_emp_notes" maxlength="100" name="emp_notes" ng-model="employeedata.emp_notes" type="text" />
				
		</p>
		<p style="position: relative">
			<label class="title">Email</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-email"></abbr></span>
				 <input id="id_email" maxlength="100" name="email" ng-model="employeedata.email" type="text" />
			</span>
			<span style="position: absolute; top: 7px; left: 405px">
				<label><input name="is_subscribed" id="is_subscribed"  ng-model="employeedata.is_subscribed" value="1" type="checkbox">
				Send email when new booking is made</label>
			</span>
		</p>
		<p>
			<label class="title">Password</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-password"></abbr></span>
				 <input id="id_password" maxlength="100" name="password" ng-model="employeedata.password" type="text" />
			</span>
		</p>
		<p style="position: relative">
			<label class="title">Phone</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-phone"></abbr></span>
				 <input id="id_phone" maxlength="100" name="phone" ng-model="employeedata.phone" type="text" />
			</span>
			<span style="position: absolute; top: 7px; left: 405px">
				<label><input name="is_subscribed_sms" id="is_subscribed_sms"  ng-model="employeedata.is_subscribed_sms" value="1" type="checkbox"> Send SMS when new booking is made</label>
			</span>
		</p>


		<p>
			<label class="title">Services</label>
			  <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
		<p>
			<label class="title">Status</label>
			<span class="inline_block">
				<select name="is_active" id="is_active" class="pj-form-field required valid" ng-model="employeedata.is_active" aria-required="true" aria-invalid="false">
					<option selected="true" value="">-- Choose--</option>
					<option value="1">Active</option>
					<option value="0">Inactive</option>			
				</select>
					 <input id="id_is_active" maxlength="100" name="is_active" ng-model="employeedata.is_active" value="1" type="checkbox" />
			</span>
		</p>
		<p>
			<label class="title">Picture</label>
			<span class="float_left block">
				 <input id="avatar" name="avatar"  type="file"  />

			</span>
		</p>
		<p>
			<label class="title">&nbsp;</label>
			<input value="Save" ng-click="submitForm()"  class="pj-button" type="submit">
			<input value="Cancel" ng-click="CancelForm()"  class="pj-button" type="button">
		</p>
	</form>



     </div>
        </div>
        </div>

    </div>
    </div>


{% endblock %}

