{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}

<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listServices() ;
  
});


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },

    error: function(xhr, textStatus, error) {
        console.log(error);
    }
});

var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listServices() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          serviceName+= "<label for=" + servicelist[i].name +  ' > <input type="checkbox" name=' + "check" + servicelist[i].id  + " value=" + servicelist[i].id + " />" + servicelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( serviceName);

                }

            }
      });
  }
 
 var invalid_phone = true;	
       
function check_duplicated_phoneno() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listphones'  %}",
          
            success:function(response){
                // console.log(response);
                listphones =eval(response);
                var x = document.getElementById("id_phone");
                textvalue = x.value.trim();
                if (listphones != null &&  listphones.length > 0  ){
                      for (var i = 0; i <  listphones.length; i++)
                      {
                          phoneno= listphones[i].phone.trim(); 
                          if (phoneno == textvalue) {
                             alert("phone numer already exist");
                             invalid_phone = false;
                             return false;
                          }
                         invalid_phone = true;

                      }

                }

            }
      });
  }  

var invalid_email = true;

function check_duplicated_email() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listemails'  %}",
          
            success:function(response){
                // console.log(response);
                listemails =eval(response);
                var servicename ="";
                var x = document.getElementById("id_email");
                textvalue = x.value.trim();
                if (listemails != null &&  listemails.length > 0  ){
                      for (var i = 0; i <  listemails.length; i++)
                      {
                          email= listemails[i].email.trim(); 
                          if (email == textvalue) {
                             alert("Email already exist");
							 invalid_email = false;
                             return false;
                          }
						  invalid_email = true;

                      }

                }

            }
      });
  }  



function validateemployeeform() {

	    var is_subscribed = document.getElementById("is_subscribed");
	     is_subscribed.value = is_subscribed.checked ? 1: 0 ;

	    var is_subscribed_sms = document.getElementById("is_subscribed_sms");
	     is_subscribed_sms.value = is_subscribed_sms.checked ? 1: 0 ;
	     if( ! invalid_email ) {
	     	alert("Email already exist");
	     	return false;	
	     }
	     if( ! invalid_phone ) {
	     	alert("Phone no already exist");
	     	return false;	
	     }

	     return true;
}

</script>

 

<div id="container">
    <div id="header">
        <div id="logo">
            <a href="javascript:void();" target="_blank" rel="nofollow">
                365 Plateform</a> <span>v1.0</span>
        </div>
    </div>
    <div id="middle">

        <div id="right">
        <div class="content-top">

            <div class="content-middle" id="content">
            <div class="notice-box">
			<span class="notice-info">&nbsp;</span>
			<span class="block bold">Add an employee</span><span class="block">Fill in the form below to add a new employee. You can select the service that this employee does. You can also configure it so an email and/or sms notification is sent to the employee when a booking is made. Each employee can access the Appointment Scheduler and manage his/her bookings only.</span><a href="#" class="notice-close"></a>		</div>
<div>{{ form.errors|default:"" }}</div>

         <form   id="frmCreateEmployee" class="form pj-form" name="frmCreateEmployee" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate" action="{% url 'appointmentschduler:addemployee' %}" ng-app="ServiceMod" method="post"  onsubmit="return validateemployeeform()"  >{% csrf_token %}
		
				<label class="title">Employee name:</label>
				<span class="inline_block">
                   <input id="id_emp_name" maxlength="100" name="emp_name" ng-model="emp_name" ng-minlength="3" ng-maxlength="100" ng-pattern="/^\w+$/" type="text" required />
      	</span>
      	<span ng-messages="frmCreateEmployee.emp_name.$error" style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
				</span>
        <div ng-messages="frmCreateEmployee.emp_name.$error"  ng-show="frmCreateEmployee.emp_name.$invalid && !frmCreateEmployee.emp_name.$pristine " style="color:maroon" role="alert" >
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
                <div ng-message="pattern">Must be a valid emp name</div>
         </div>
			</p>
			
      <p>
			   <label class="title">Notes:</label>

          <span class="inline_block">
                   <input id="id_emp_notes" maxlength="100" name="emp_notes" ng-model="emp_notes" ng-minlength="4" ng-maxlength="200" type="text"  />
            </span>
             <div ng-messages="frmCreateEmployee.emp_notes.$error"  ng-show="frmCreateEmployee.emp_notes.$invalid && !frmCreateEmployee.emp_notes.$pristine" style="color:maroon" role="alert">
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
            </div>
	  	</p>

		<p style="position: relative">
  			<label class="title">Email</label>
  			<span class="pj-form-field-custom pj-form-field-custom-before">
  				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-email"></abbr></span>
  			   		<input id="id_email" maxlength="254" name="email" type="email" ng-model="email"  ng-maxlength="254"   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
  			   			 onblur="check_duplicated_email()" required />
  			</span>


  			<span ng-messages="frmCreateEmployee.email.$error" style="color:maroon" role="alert">
  			  <span ng-message="required">This field is required</span>
  			  <span ng-message="email">Your email  is invalid</span>
          <span ng-message="pattern">Your email is invalid </span>

  			</span>

  			<span style="position: absolute; top: 7px; left: 405px">
  				<label><input name="is_subscribed" id="is_subscribed" type="checkbox"   value="0" >
  				Send email when new booking is made</label>
  			</span>
		</p>
		<p>
			<label class="title">Password</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-password"></abbr></span>
			   		<input id="id_password" name="password" type="password" ng-model="password" ng-minlength=6 required />
			</span>
			<span ng-messages="frmCreateEmployee.password.$error"  style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
          <span ng-message="minlength">Your field is too short </span>
			</span>

		</p>
		<p style="position: relative">
			<label class="title">Phone</label>
				<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-phone"></abbr>
				</span>
					<input id="id_phone" name="phone" type="tel"  ng-model="phone"   ng-pattern="/^\+[0-9]{10,12}$/"  	 	 onblur="check_duplicated_phoneno()" required/>
				</span>

				<span ng-messages="frmCreateEmployee.phone.$error"   style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
				  <span ng-message="pattern">Must be a valid phone number</span>
				</span>
			<span style="position: absolute; top: 7px; left: 405px">
				<label><input name="is_subscribed_sms" id="is_subscribed_sms"  type="checkbox" value="0" > Send SMS when new booking is made</label>
			</span>
		</p>


		<p>
			<label class="title">Services</label>
			  <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
		<p>
			<label class="title">Status</label>
			<span class="inline_block">
				<select name="is_active" id="id_is_active" class="pj-form-field required valid" aria-required="true" aria-invalid="false">
                  <option value="True">active</option>
                  <option value="False" selected="selected">inactive</option>
              </select>
			</span>
		</p>
		<p>
			<label class="title">Picture</label>
			<span class="float_left block">  
				 <input id="avatar" name="avatar"  type="file"  />

			</span>
		</p>
		<p>
			<label class="title">&nbsp;</label>
			
        	<input  type="submit" value="Submit" class="pj-button"  class="ng-pristine ng-invalid ng-invalid-required"  ng-disabled="frmCreateEmployee.$invalid " >
     
			</p>
	</form>



     </div>
        </div>
        </div>

    </div>
    </div>


{% endblock %}

