{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}

<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listemployees() ;

  
});


var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listemployees() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listemployeesname'  %}",

            success:function(response){
                // console.log(response);
                employeelist =eval(response);
                var employeename ="";
                if (employeelist != null &&  employeelist.length > 0  ){
                      for (var i = 0; i <  employeelist.length; i++)
                      {
                          employeename+= "<label for=" + employeelist[i].name +  ' > <input type="checkbox" name=' + "check" + employeelist[i].id  + ' ng-model=' + "servicedata.check" + employeelist[i].id.toString() +       " value=" + employeelist[i].id + " />" + employeelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( employeename);

                }

            }
      });
  }
      

    function check_duplicated_name() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var servicename ="";
                    var x = document.getElementById("id_service_name");
                     textvalue = x.value.toUpperCase();
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          servicename= servicelist[i].name.toUpperCase(); 
                          if (servicename == textvalue) {
                             alert("service name exist");
                             return false;
                          }
                      }

                }

            }
      });
  }  

</script>

    <link type="text/css" href="{% static 'css/custom.css'  %}" rel="stylesheet" type="text/css" />



<span class="notice-info">&nbsp;</span> <span class="block bold">Add a service</span>
<span  class="block">Fill in the form below to add a new service. You can add title, description,
    price, length and employees who do this service.</span><a href="#" class="notice-close"></a>
    <div ng-app="ServiceMod">
     <form class="form pj-form"  ng-controller="ServiceCtl" autocomplete="off" enctype="multipart/form-data" novalidate="novalidate" action="{% url 'appointmentschduler:addservice' %}" method="post">
            <label class="title">
                Service name:</label>
            <span class="inline_block">
                   <input id="id_service_name" maxlength="100" name="service_name"  type="text" onblur="check_duplicated_name()" />

            </span>
        </p>
        <p>
            <label class="title">
                Service description:</label>
            <span class="inline_block">
                   <input id="id_service_desc" maxlength="100" name="service_desc" type="text" />
            </span>
        </p>
        <p>
            <label class="title">
                Price</label>
                <span class="inline_block">
                    <input id="id_price" name="price" ng-model="servicedata.price" step="0.01" type="number" required />
                </span>
        </p>
        <p>
            <label class="title">
                Image</label>
            <span class="inline_block">
              <input id="id_service_img" name="service_img"  type="file"   />
            </span>
        </p>
        <p>
            <label class="title">
                Length (minutes)</label>
            <span class="inline_block">
                 <input id="length" name="length" type="number" ng-model="length" required />
            </span>
        </p>
        <p>
            <label class="title">
                Before (minutes)</label>
            <span>
                <input id="before" name="before" type="number" ng-model="before"  required />
            </span>
        </p>
        <p>
            <label class="title">
                After (minutes)</label>
            <span>
                          <input id="after" name="after" type="number" ng-model="after"  required />
             </span>             
        </p>
        <p>
            <label class="title">
                Total (minutes)
            </label>
                 <span class="inline_block"  id="total">
                    {% verbatim %}
                        {{ length + before + after}}
                    {% endverbatim %}

                 </span>
        </p>
        <p>
            <label class="title">
                Status</label>
            <span class="inline_block">
              <select id="id_is_active" name="is_active" >
                  <option value="True">active</option>
                  <option value="False" selected="selected">inactive</option>
              </select>
            </span>
        </p>
    <p>
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
    </p>
    <p>
      <div>
        <input  type="submit" value="Submit"   >
      </div>
   </p>
   </form>
   </div>
   


    
{% endblock %}





{