{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}

<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listemployees() ;

  
});


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },

    error: function(xhr, textStatus, error) {
        console.log(error);
    }
});

var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listemployees() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listemployeesname'  %}",

           "beforeSend": function(xhr, settings) {
                console.log("Before Send");
                $.ajaxSettings.beforeSend(xhr, settings);
            },

            success:function(response){
                // console.log(response);
                employeelist =eval(response);
                var employeename ="";
                if (employeelist != null &&  employeelist.length > 0  ){
                      for (var i = 0; i <  employeelist.length; i++)
                      {
                          employeename+= "<label for=" + employeelist[i].name +  ' > <input type="checkbox" name=' + "check" + employeelist[i].id  + ' ng-model=' + "servicedata.check" + employeelist[i].id.toString() +       " value=" + employeelist[i].id + " />" + employeelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( employeename);

                }

            }
      });
  }
      

    function check_duplicated_name() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",
            "beforeSend": function(xhr, settings) {
                console.log("Before Send");
                $.ajaxSettings.beforeSend(xhr, settings);
            },
            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var servicename ="";
                    var x = document.getElementById("id_service_name");
                     textvalue = x.value.toUpperCase();
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          servicename= servicelist[i].name.toUpperCase(); 
                          if (servicename == textvalue) {
                             alert("service name exist");
                             return false;
                          }
                      }

                }

            }
      });
  }  


      
    

</script> 




<span class="notice-info">&nbsp;</span> <span class="block bold">Add a service</span>
<span  class="block">Fill in the form below to add a new service. You can add title, description,
    price, length and employees who do this service.</span><a href="#" class="notice-close"></a>
    <div ng-app="ServiceMod">
     <form class="form pj-form ng-pristine ng-invalid ng-invalid-required"   name="serviceform" autocomplete="off" enctype="multipart/form-data" novalidate="novalidate" action="{% url 'appointmentschduler:addservice' %}" method="post"> {% csrf_token %}
     <p>
            <label class="title">
                Service name:</label>
            <span class="inline_block">
                   <input id="id_service_name" maxlength="100" name="service_name"  type="text" ng-model="service_name" ng-minlength="4" ng-maxlength="50" ng-pattern="/^\w+$/" onblur="check_duplicated_name()" required />

             </span>

             <span ng-messages="serviceform.service_name.$error" style="color:maroon" role="alert" >
                   <span ng-message="required"> Please fill service name </span>
             </span>


              <div ng-messages="serviceform.service_name.$error"  ng-show="serviceform.service_name.$invalid && !serviceform.service_name.$pristine " style="color:maroon" role="alert" >
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
              </div>
 
        </p>
        <p>
            <label class="title">
                Service description:</label>
            <span class="inline_block">
                   <input id="id_service_desc" maxlength="100" name="service_desc" type="text"  ng-model="service_desc" ng-minlength="4" ng-maxlength="200"  />
            </span>

            <div ng-messages="serviceform.service_desc.$error"  ng-show="serviceform.service_desc.$invalid && !serviceform.service_desc.$pristine" style="color:maroon" role="alert">
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
            </div>
        </p>
        <p>
            <label class="title">
                Price</label>
                <span class="inline_block">
                    <input id="id_price" name="price" ng-model="price" step="0.01" min="0" type="number" required />
                </span>
                    <span ng-messages="serviceform.price.$error" style="color:maroon" role="alert" >
                     <span ng-message="required"> Please fill price </span>
                 </span>
               <div ng-messages="serviceform.price.$error"  ng-show="serviceform.price.$invalid && !serviceform.price.$pristine "style="color:maroon" role="alert">
                  <div ng-message="minlength">Your field is too short   </div>
                  <div ng-message="number">Your field is not number</div>
              </div>
        </p>
        <p>
            <label class="title">
                Image</label>
            <span class="inline_block">
              <input id="id_service_img" name="service_img"  type="file"   accept="image/*" />
            </span>
        </p>
        <p>
            <label class="title">
                Length (minutes)</label>
            <span class="inline_block">
                 <input id="length" name="length" type="number" ng-model="length" min="0" type="number" required />
            </span>
               <span ng-messages="serviceform.length.$error" style="color:maroon" role="alert" >
                   <span ng-message="required">Please fill the length of the service </span>
             </span>
              <div ng-messages="serviceform.length.$error"  ng-show="serviceform.length.$invalid && !serviceform.length.$pristine"style="color:maroon" role="alert">
                  <div ng-message="number">Your field is not number </div>
              </div>
        </p>
        <p>
            <label class="minutes">
                Before (minutes)</label>
            <span>
                <input id="before" name="before" type="number" ng-model="before"  min="0" type="number" required />
            </span>
              <span ng-messages="serviceform.before.$error" style="color:maroon" role="alert" >
                   <span ng-message="required"> Please fill the field</span>
             </span>
            <div ng-messages="serviceform.before.$error"  ng-show="serviceform.before.$invalid && !serviceform.before.$pristine"style="color:maroon" role="alert">
                  <div ng-message="number">Your field is not number</div>
              </div>
        </p>
        <p>
            <label class="title">
                After (minutes)</label>
            <span>
                          <input id="after" name="after" type="number" ng-model="after"  min="0" type="number" required />
             </span>  
              <span ng-messages="serviceform.after.$error" style="color:maroon" role="alert" >
                   <span ng-message="required"> Please fill the field </span>
             </span>
              <div ng-messages="serviceform.after.$error"  ng-show="serviceform.after.$invalid && !serviceform.after.$pristine"style="color:maroon" role="alert">
                  <div ng-message="number">Your field is not number</div>
              </div>           
        </p>
        <p>
            <label class="title">
                Total (minutes)
            </label>
                 <span class="inline_block"  id="total">
                    {% verbatim %}
                        {{ length + before + after}}
                    {% endverbatim %}

                 </span>
        </p>
        <p>
            <label class="title">
                Status</label>
            <span class="inline_block">
              <select id="id_is_active" name="is_active" required>
                  <option value="True">active</option>
                  <option value="False" selected="selected">inactive</option>
              </select>
            </span>
        </p>
    <p>
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
    </p>
    <p>
      <div>
        <input  type="submit" value="Submit"  class="ng-pristine ng-invalid ng-invalid-required"  ng-disabled="serviceform.$invalid ">
      </div>
   </p>
   </form>
   </div>
   


    
{% endblock %}





