{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}


<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listServices() ;
  
});

var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listServices() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          serviceName+= "<label for=" + servicelist[i].name +  ' > <input type="checkbox" name=' + "check" + servicelist[i].id  + ' ng-model=' + "servicedata.check" + servicelist[i].id.toString() +       " value=" + servicelist[i].id + " />" + servicelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( serviceName);

                }

            }
      });
  }
        

</script>

<div id="container">
	
	<div id="header">
        <div id="logo">
            <a href="javascript:void();" target="_blank" rel="nofollow">
                365 Plateform</a> <span>v1.0</span>
        </div>
    </div>

<div id="middle">
  <div id="right">

<form ng-app="ServiceMod" ng-controller="EmployeeCtrl"  action="{% url 'appointmentschduler:editEmployee' appscheduleinst.id %}" method="post" id="frmCreateEmployee" class="form pj-form" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
		<input name="employee_create" value="1" type="hidden">
		<input style="display:none">
		<input style="display:none" type="password">
					<p class="pj-multilang-wrap" data-index="1" style="display: ">
				<label class="title">Employee name:</label>
				<span class="inline_block">

				  <input id="id_emp_name" maxlength="100" name="emp_name"  type="text"  value="{{ appscheduleinst.emp_name }}" required="" />

            </span>
			</p>
					<p>
			<label class="title">Notes:</label>
			  <input id="id_emp_notes" maxlength="100" name="emp_notes"  type="text" value="{{ appscheduleinst.emp_notes }}" />
				
		</p>
		<p style="position: relative">
			<label class="title">Email</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-email"></abbr></span>
				 <input id="id_email" maxlength="600" name="email"  type="text" value="{{ appscheduleinst.email }}" required="" />
			</span>
			<span style="position: absolute; top: 7px; left: 405px">
				<label>
<input id="is_subscribed" maxlength="600" name="is_subscribed"  type="checkbox" value="{{ appscheduleinst.is_subscribed }}" required="" />

				Send email when new booking is made</label>
			</span>
		</p>
		<p>
			<label class="title">Password</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-password"></abbr></span>
				<input id="id_password" maxlength="10" name="password"  type="password" value="{{ appscheduleinst.password }}" required="" />
			</span>
		</p>
		<p style="position: relative">
			<label class="title">Phone</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-phone"></abbr></span>
				<input id="id_phone" maxlength="600" name="phone"  type="text" value="{{ appscheduleinst.phone }}" required="" />
			</span>
			<span style="position: absolute; top: 7px; left: 405px">
				<label>
<input id="is_subscribed_sms" maxlength="600" name="is_subscribed_sms"  type="checkbox" value="{{ appscheduleinst.is_subscribed_sms }}"  />
				Send SMS when new booking is made</label>
			</span>
		</p>
		<p>
			<label class="title">Services</label>
			  <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
		</p>
		<p>
			<label class="title">Status</label>
			<span class="inline_block">
				<select name="is_active" id="is_active" class="pj-form-field required valid" value="{{ appscheduleinst.is_active }}"  aria-required="true" aria-invalid="false">
					<option value="1">Active</option>
					<option value="0">Inactive</option>
				</select>
			</span>
		</p>


	<p>
			<label class="title">Picture</label>
			<span class="float_left block">
				 <input id="avatar" name="avatar"  type="file"  />
			<img height="250" width="250" src="/media/{{appscheduleinst.avatar}} ">
			</span>
		</p>

		1<p>
			<label class="title">&nbsp;</label>
			<input value="submit" class="pj-button" type="submit">
			<input value="Cancel" ng-click=CancelForm()   class="pj-button" type="button">
		</p>
	</form>
 

  </div>
</div>


</div>

<script type="text/javascript">

	$(document).ready(function() {
    //set initial state.
    $('#is_subscribed_sms').change(function() {
        if($(this).is(":checked")) {
         $(this).val(true);
        }
        else
        {
           $(this).val(false);
        }
    });
 $('#is_subscribed').change(function() {
        if($(this).is(":checked")) {
         $(this).val(true);
        }
        else
        {
           $(this).val(false);
        }
    });

});

</script>


{% endblock %}


