{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}


<script>

$(document).ready(function() {
  // Handler for .ready() called.
  listServices("{{ appscheduleinst.id }}") ;
  
});



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },

    error: function(xhr, textStatus, error) {
        console.log(error);
    }
});


var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function listServices(employeeid) {

    $.ajax({
            method:'get',
            url:"/appointmentschduler/associated_service_names/" + employeeid,
            data: { },
            dataType: "json",
           
            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";

                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
      	                  checked="";
			              if (servicelist[i].checked) {
			                     checked = "checked" ;
			               }
                          serviceName+= "<label for=" + servicelist[i].name +  ' > <input type="checkbox" name=' + "check" +  servicelist[i].id.toString() +       " value=" + servicelist[i].id + " " + checked + " />" + servicelist[i].name + " </label>";
                      }
                      $( "#checkboxes" ).append( serviceName);

                }

            }
      });
  }
 

 var invalid_phone = true;	

 function check_duplicated_phoneno(current_phone) {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listphones'  %}",
          
            success:function(response){
                // console.log(response);
                listphones =eval(response);
                var x = document.getElementById("id_phone");
                textvalue = x.value.trim();
                if (listphones != null &&  listphones.length > 0  ){
                      for (var i = 0; i <  listphones.length; i++)
                      {
                          phoneno= listphones[i].phone.trim(); 
                          if (phoneno == textvalue  && current_phone != textvalue ) {
                             alert("phone numer already exist");
                             invalid_phone = false;
                             return false;
                          }
                          invalid_phone = true;

                      }

                }

            }
      });
  }  

  var invalid_email = true;
  function check_duplicated_email(current_email) {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listemails'  %}",
          
            success:function(response){
                // console.log(response);
                listemails =eval(response);
                var servicename ="";
                var x = document.getElementById("id_email");
                textvalue = x.value.trim();
                if (listemails != null &&  listemails.length > 0  ){
                      for (var i = 0; i <  listemails.length; i++)
                      {
                          email= listemails[i].email.trim(); 
                          if (email == textvalue && current_email != textvalue) {
                             alert("Email already exist");
                             invalid_email = false;
                             return false;
                          }	     
                          invalid_email = true;

                      }

                }

            }
      });
  }  
    
 function setsubscribe() {

	    var is_subscribed = document.getElementById("is_subscribed");
	     is_subscribed.value = is_subscribed.checked ? 1: 0 ;

	    var is_subscribed_sms = document.getElementById("is_subscribed_sms");
	     is_subscribed_sms.value = is_subscribed_sms.checked ? 1: 0 ;

	     if( ! invalid_email ) {
	     	alert("Email already exist");
	     	return false;	
	     }
	     if( ! invalid_phone ) {
	     	alert("Phone no already exist");
	     	return false;	
	     }
	     return true;
}   

function delete_image(employeeid) {
    $.ajax({
            method:'get',
            url:"/appointmentschduler/deleteemployeeimage/" + employeeid ,
            data: { },
            success:function(response){
                console.log(response);
                $("#employee_img_id").attr("src",response);
                $("#deleteimage").hide();

            },
             error: function(xhr, status, error){
             var err = eval("(" + xhr.responseText + ")");
             }
    });  

}
 
</script>

<div id="container">
	
	<div id="header">
        <div id="logo">
        	    <a href="javascript:void();" target="_blank" rel="nofollow">
                365 Plateform</a> <span>v1.0</span>
        </div>
    </div>

<div id="middle">
  <div id="right">
			
<div>"{{ form.errors|default:"" }}"</div>

<form ng-app="ServiceMod"   action="{% url 'appointmentschduler:editEmployee' appscheduleinst.id %}" method="post" name="frmeditEmployee" id="frmeditEmployee" class="form pj-form" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate"   onsubmit="return setsubscribe()" >{% csrf_token %}

		<label class="title">Employee name:</label>
		<span class="inline_block">

			<input id="id_emp_name" maxlength="100" name="emp_name"  ng-model="emp_name"  ng-minlength="3" ng-maxlength="100"  ng-init='emp_name="{{appscheduleinst.emp_name}}"'  type="text" value="{{appscheduleinst.emp_name}}" required />

		</span>
		<span ng-messages="frmeditEmployee.emp_name.$error" style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
		</span>

		 <div ng-messages="frmeditEmployee.emp_name.$error"  ng-show="frmeditEmployee.emp_name.$invalid && !frmeditEmployee.emp_name.$pristine " style="color:maroon" role="alert" >
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
                <div ng-message="pattern">Must be a valid emp name</div>
         </div>
		</p>
		<p>
			<label class="title">Notes:</label>
			 <span class="inline_block">
                   <input id="id_emp_notes" maxlength="100" name="emp_notes" ng-model="emp_notes" ng-minlength="4" ng-maxlength="200" type="text" ng-init='emp_notes="{{appscheduleinst.emp_notes}}"' value="{{ appscheduleinst.emp_notes }}"/>
            </span>
             <div ng-messages="frmeditEmployee.emp_notes.$error"  ng-show="frmeditEmployee.emp_notes.$invalid && !frmeditEmployee.emp_notes.$pristine" style="color:maroon" role="alert">
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
            </div>
				
		</p>
		<p style="position: relative">
			<label class="title">Email</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-email"></abbr></span>
				 <input id="id_email" name="email" name="email" type="email" ng-model="email"  ng-maxlength="254"   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-init='email="{{appscheduleinst.email}}"' value="{{ appscheduleinst.email }}"  onblur='check_duplicated_email("{{ appscheduleinst.email }}")''  required />
			</span>

			<span ng-messages="frmeditEmployee.email.$error" style="color:maroon" role="alert">
			  <span ng-message="required">This field is required</span>
			  <span ng-message="email">Your email address is invalid</span>
              <span ng-message="pattern">Your email is invalid </span>
			</span>

			<span style="position: absolute; top: 7px; left: 405px">
				<label>
				<input id="is_subscribed" maxlength="600" name="is_subscribed"  type="checkbox" value="{{ appscheduleinst.is_subscribed }}"  {% if appscheduleinst.is_subscribed == 1 %} checked {% endif %} required="" />

				Send email when new booking is made</label>
			</span>

		</p>

		<p>
			<label class="title">Password</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-password"></abbr></span>
				<input id="id_password"  name="password" ng-model="password"  
				ng-init='password="{{appscheduleinst.password}}"'  type="password" ng-minlength=6 value="{{ appscheduleinst.password }}" required />
			</span>

			<span ng-messages="frmeditEmployee.password.$error"  style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
          		  <span ng-message="minlength">Your field is too short </span>
			</span>
		</p>
		<p style="position: relative">
			<label class="title">Phone</label>
			<span class="pj-form-field-custom pj-form-field-custom-before">
				<span class="pj-form-field-before"><abbr class="pj-form-field-icon-phone"></abbr></span>
				<input id="id_phone"  name="phone"  type="tel"  ng-model="phone"   ng-pattern="/^\+[0-9]{10,14}$/"  	 value="{{ appscheduleinst.phone }}" 
				ng-init='phone="{{appscheduleinst.phone}}"' 
				onblur='check_duplicated_phoneno("{{ appscheduleinst.phone }}")'  required />
			</span>

			<span ng-messages="frmeditEmployee.phone.$error"   style="color:maroon" role="alert">
				  <span ng-message="required">This field is required</span>
				  <span ng-message="pattern">Must be a valid phone number</span>
			</span>
			
			<span style="position: absolute; top: 7px; left: 405px">
				<label>
					<input id="is_subscribed_sms" maxlength="600" name="is_subscribed_sms"  type="checkbox" value="{{ appscheduleinst.is_subscribed_sms }}"   {% if appscheduleinst.is_subscribed_sms == 1 %} checked {% endif %}  />
				Send SMS when new booking is made</label>
			</span>
		</p>
		<p>
			<label class="title">Services</label>
			  <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"  >
        </div>
    </div>
		</p>
		<p>
			<label class="title">Status</label>
			<span class="inline_block">
				<select name="is_active" id="is_active" class="pj-form-field required valid" value="{{ appscheduleinst.is_active }}"  aria-required="true" aria-invalid="false">
					<option {% if appscheduleinst.is_active == 1 %} selected {% endif %} value="1">Active</option>
					<option {% if appscheduleinst.is_active == 0 	%} selected {% endif %} value="0">Inactive</option>
				</select>
			</span>
		</p>
		<p>
            <label class="title">
                Image</label></br>
           <span class="fieldWrapper">
                 <img id="employee_img_id" src='{{ appscheduleinst.avatar.url }}'  width=25% height= 25% />
                  <p><label for="id_photo">Employee image</label>
                </a> <br> <input type="file" name="avatar" id="id_avatar"></p>
                {% if appscheduleinst.avatar.name != defaultimg %}
                        <input type="button"  value="Delete image" id="deleteimage" onclick='delete_image( "{{  appscheduleinst.id }}" )' >

                {% endif %}

            </span>

        </p>
		<p>
			<label class="title">&nbsp;</label>
			<input  type="submit" value="Submit" class="pj-button"  class="ng-pristine ng-invalid ng-invalid-required"  ng-disabled="frmeditEmployee.$invalid " >		
		</p>
	</form>
 

  </div>
</div>


</div>




{% endblock %}


