{% extends "base.html" %}
{% load static from staticfiles %}

{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}

<script>

$(document).ready(function() {
  // Handler for .ready() called.
  assiosiated_employees("{{ appscheduleinst.id }}");
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },

    error: function(xhr, textStatus, error) {
        console.log(error);
    }
});


var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


function assiosiated_employees(serviceid) {
    $.ajax({
            method:'get',
            url:"/appointmentschduler/associated_employee_names/" + serviceid  ,
            data: { },
            dataType: "json",
           
            success:function(response){
                console.log(response);
                employeelist =eval(response);

                var employeename ="";
                if (employeelist != null &&  employeelist.length > 0  ){
                      for (var i = 0; i <  employeelist.length; i++)
                      {
                          checked="";
                          if (employeelist[i].checked) {
                                 checked = "checked" ;
                           }
                            employeename+= "<label for=" + employeelist[i].name +  ' > <input type="checkbox" name=' + "check" + employeelist[i].id  + ' ng-model=' + "servicedata.check" + employeelist[i].id.toString() +       " value=" + employeelist[i].id + " " + checked + " />" + employeelist[i].name + " </label>";
                        
                      }
                      $( "#checkboxes" ).append( employeename);

                }

            }
      });
  }
        
function delete_image(serviceid) {
    $.ajax({
            method:'get',
            url:"/appointmentschduler/deleteimage/" + serviceid ,
            data: { },
            success:function(response){
                console.log(response);
                var pic = document.getElementById('service_img');
                pic.src = response
                $("#service_img").attr("src",response);
                $("#deleteimage").hide();
            },
             error: function(xhr, status, error){
             var err = eval("(" + xhr.responseText + ")");
             }
    });  

}
var invalid_svcname = true;

function check_duplicated_name(current_svcname) {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",
            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var servicename ="";
                    var x = document.getElementById("service_name");
                     textvalue = x.value.toUpperCase();
                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                          servicename= servicelist[i].name.toUpperCase(); 
                          if (servicename == textvalue && current_svcname != textvalue) {
                             alert("service name exist");
                             invalid_svcname = false ;
                             return false;
                          }
                          invalid_svcname = true
                      }

                }

            }
      });
} 
 function validateserviceform() {
   
    if( ! invalid_svcname ) {
        alert("service already exist");
        return false; 
    }
    return true;
}   

</script>


<span class="notice-info">&nbsp;</span> <span class="block bold">Edit service</span>
<span  class="block">Fill in the form below to add a new service. You can add title, description,
    price, length and employees who do this service.</span><a href="#" class="notice-close"></a>
 
<div>{{ form.errors|default:"" }}</div>


  <form  ng-app="ServiceMod" class="form pj-form"  name="serviceform" autocomplete="off" enctype="multipart/form-data" novalidate="novalidate" action="{% url 'appointmentschduler:edit_service' appscheduleinst.id %}"  method="post"   onsubmit="return validateserviceform()"  >{% csrf_token %}


          <label class="title">
                Service name:</label>
            <span class="inline_block">
                   <input id="service_name" maxlength="100" name="service_name" type="text"  ng-minlength="4" ng-maxlength="50" ng-pattern="/^\w+$/"  ng-init='service_name="{{appscheduleinst.service_name}}"' ng-model="service_name"  onblur=" check_duplicated_name('{{appscheduleinst.service_name}}')"  required  />

            </span>
           
             <span ng-messages="serviceform.service_name.$error" style="color:maroon" role="alert" >
                   <span ng-message="required"> Please fill service name </span>
             </span>


              <div ng-messages="serviceform.service_name.$error"  ng-show="serviceform.service_name.$invalid && !serviceform.service_name.$pristine " style="color:maroon" role="alert" >
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
              </div>
 
        </p>
        <p>
            <label class="title">
                Service description:</label>
            <span class="inline_block">
                   <input id="id_service_desc" maxlength="100" name="service_desc" ng-model="service_desc" ng-minlength="4" ng-maxlength="200" ng-init='service_desc="{{appscheduleinst.service_desc}}"' type="text"  />
            </span>

          <div ng-messages="serviceform.service_desc.$error"  ng-show="serviceform.service_desc.$invalid && !serviceform.service_desc.$pristine" style="color:maroon" role="alert">
                <div ng-message="minlength">Your field is too short   </div>
                <div ng-message="maxlength">Your field is too long</div>
            </div>
        </p>
        <p>
            <label class="title">
                Price</label>
                <span class="inline_block">
                    <input id="id_price" name="price"  step="0.01" type="number"   ng-model="price"        
                     ng-init='price={{appscheduleinst.price}}' required />
                </span>
                 <div ng-messages="serviceform.price.$error"  ng-show="serviceform.price.$invalid && !serviceform.price.$pristine "style="color:maroon" role="alert">
                  <div ng-message="number">Your field is not number</div>
              </div>
        </p>
        <p>
            <label class="title">
                Image</label>
           <div class="fieldWrapper">
                 <img id="service_img" src='{{ appscheduleinst.service_img.url }}'  width=25% height= 25% />
                  <p><label for="id_photo">service image</label>
                </a> <br> <input type="file" name="photoname" id="id_photo"></p>
                {% if appscheduleinst.service_img.name != defaultimg %}
                           <input type="button"  value="Delete image" id="deleteimage" onclick='delete_image( "{{  appscheduleinst.id }}" )' >
                {% endif %}

               </div>

        </p>
        <p>
            <label class="title">
                Length (minutes)</label>
              <span class="inline_block">
                 <input id="length" name="length" type="number"  
                  ng-model="length" ng-init="length={{ appscheduleinst.length}}" required />
            </span>
                <span ng-messages="serviceform.length.$error" style="color:maroon" role="alert" >
                   <span ng-message="required">Please fill the length of the service </span>
             </span>
              <div ng-messages="serviceform.length.$error"  ng-show="serviceform.length.$invalid && !serviceform.length.$pristine"style="color:maroon" role="alert">
                  <div ng-message="number">Your field is not number </div>
              </div>
        </p>
        </p>
        <p>
            <label class="title">
                Before (minutes)</label>
            <span>
                <input id="before" name="before"  type="number"   
                 ng-model="before" ng-init="before={{ appscheduleinst.before }}" required />
            </span>
            <span ng-messages="serviceform.before.$error" style="color:maroon" role="alert" >
                   <span ng-message="required">Please fill the field before </span>
             </span>
        </p>
        <p>
            <label class="title">
                After (minutes)</label>
            <span>
                          <input id="id_after" name="after" type="number" 
                          ng-model="after"  ng-init="after={{ appscheduleinst.after }}"  required />
             </span>      

             <span ng-messages="serviceform.after.$error" style="color:maroon" role="alert" >
                   <span ng-message="required">Please fill the field after </span>
             </span>       
        </p>
        <p>
            <label class="title">
                Total (minutes)
            </label>
                  <span class="inline_block">
                    <p>    {% verbatim %}
                              {{ length + before + after}}
                            {% endverbatim %}
                   </p>
                 </span>
        </p>
        <p>
            <label class="title">
                Status</label>
            <span class="inline_block">
              <select id="id_is_active" name="is_active" >
                  <option {% if appscheduleinst.is_active|safe == "True" %} selected {% endif %} value="True" >active</option>
                  <option {% if appscheduleinst.is_active|safe == "False" %} selected {% endif %} value="False">inactive</option>
              </select>
            </span>
        </p>
    <p>
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()" >
            <select>
              <option>Select an option</option>
            </select>
            <div class="overSelect">
              
            </div>
        </div>
        <div id="checkboxes"   >

        </div>
    </div>
    </p>
    <p>
      <div>
        <input  type="submit" value="Submit"    class="ng-pristine ng-invalid ng-invalid-required"  ng-disabled="serviceform.$invalid ">
      </div>
   </p>
  </form>


{% endblock %}
