{% extends "base.html" %}
{% load static from staticfiles %}

{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}

 {% csrf_token %}
	    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		

			<select name="services" id="services" > </select>
			<select id="index" name="index" required="">
				<option value="count" selected="selected">Count</option>
				<option value="amount" >Amount</option>
			</select>
			<input type="text" name="fromdate" id="fromdate" >
			<input type="text" name="todate" id="todate" >
			<input type="button" value="Generate" class="pj-button" onclick="getreport()" >



<h2>Booking Comparison Chart</h2>
 
<br /> 
<div id="visualization" style="width:600px; height:300px">

</div>


<div id="report">
	<table id="reporttables" class="table table-hover">
        <thead>
	        <tr>
	            <th>Employee Name</th>
	            <th>All Booking</th>
	            <th>Confirmed Booking</th>
	            <th>Pending Booking</th>
	            <th>Cancelled Booking</th>
	           
	        </tr>
        </thead>
      
    </table>

</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    },

    error: function(xhr, textStatus, error) {
        console.log(error);
    }
});

var services = document.getElementById("services");
googleMapsLoaded = false;
var chartData = null;
function getreport() {

	serviceid =  $('#services :selected').val();
	index =  $('#index :selected').val();
	fromdate =  $('#fromdate').val();
	todate =  $('#todate').val();
	reporttables;
	$.ajax({
            type:'POST',
            url:"{% url 'appointmentschduler:employee_report_details'  %}",
            "headers": "Content-Type: application/json",
            // async: false,
			data: {
				"serviceid" : serviceid,
				"index" : index,
				"fromdate" : fromdate,
				"todate"	: todate,
			},

            success:function(data){
            	if ( $.fn.dataTable.isDataTable( '#reporttables' ) ) {
 					reporttables.destroy();
					}
		        reporttables = $('#reporttables').DataTable({
						data: data.reports.bookings,
						'columns': [
							{"data" : "employee_name"},
							{"data" : "all"},
							{"data" : "confirmed"},
							{"data" : "pending"},
							{"data" : "cancelled"}

						]
				});


				chartData  = data.reports.graph;
               	
            },
            error: function () {
                alert('Error!');
                }
            }).done(function () {
                drawChart(chartData);
            });
	}
	

 function drawChart(d) {
  var chartData = d;
                        var data = null;
                        data = google.visualization.arrayToDataTable(chartData);
 
                        var view = new google.visualization.DataView(data);
                        view.setColumns([0, {
                            type: 'number',
                            label: data.getColumnLabel(0),
                            calc: function () { return 0; }
                        }, {
                            type: 'number',
                            label: data.getColumnLabel(1),
                            calc: function () { return 0; }
                        }, {
                            type: 'number',
                            label: data.getColumnLabel(2),
                            calc: function () { return 0; }
                        }, ]);
 
                        var chart = new google.visualization.ColumnChart(document.getElementById('visualization'));
                        var options = {
                            title: 'Booking comparison per Service',
                            legend: 'bottom',
                            hAxis: {
                                title: 'Bookingtype',
                                format: '#'
                            },
                            vAxis: {
                                minValue: 0,
                               
                            },
                            chartArea: {
                                left:100, top: 50, width:'70%', height: '50%'
                            },
                            animation: {
                                duration: 1000
                            }
                        };
 
                        var runFirstTime = google.visualization.events.addListener(chart, 'ready', function () {
                            google.visualization.events.removeListener(runFirstTime);
                            chart.draw(data, options);
                        });
 
                        chart.draw(view, options);
}
google.load('visualization', '1', { packages: ['columnchart'] });




function listServices() {

    $.ajax({
            method:'get',
            url:"{% url 'appointmentschduler:listServicesName'  %}",

            success:function(response){
                // console.log(response);
                servicelist =eval(response);
                var serviceName ="";
				document.getElementById("services").innerHTML = "";
				
                var $select = $('#services');

                $select.append('<option value=""  selected>Please select a service...</option>')

                if (servicelist != null &&  servicelist.length > 0  ){
                      for (var i = 0; i <  servicelist.length; i++)
                      {
                           $select.append('<option value="' + servicelist[i].id + '">' + servicelist[i].name +'</option>');
                      }

                }

            }
      });
  }

$(document).ready(function() {
  // Handler for .ready() called.
	listServices();
	getreport()
  
});

  </script>

{% endblock %}
