{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %} 

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>

<table>
   <input type="button" onclick="location.href='{% url 'appointmentschduler:addservice' %}'"  value="Add Service" />
<form action="{% url 'appointmentschduler:delete_services' %}"  method="post">
<table id="datatables" class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Service Name</th>
            <th>Price</th>
            <th>Length</th>
            <th>is active</th>
            <th> action</th>
        </tr>
        </thead>
      
    </table>

  
<button type="submit"   >Delete </button>
</form>
</table>
</div>

<script type="text/javascript">

      var data = {{ services|safe }} ;
      var services_info = data;
      console.log( services_info );
      let table = $('#datatables').DataTable({
       
        "data":  services_info,
        
         "columns": [
            {"data": "id"},
            {"data": "service_name"},
            {"data": "price"},
            {"data": "length"},
            {"data": "is_active"},
            {
            "data": null,
            "defaultContent": '<button type="button" class="btn btn-info">Edit</button>' + '&nbsp;&nbsp' +
            '<button type="button" class="btn btn-danger">Delete</button>'
            }
            
        
        ]
    });


</script>
  

{% endblock %}

