{% extends "ProductBase.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}
<script>
 $( document ).ready(function() {

	data = {{ data|safe }};
    level = 1
	showcatagorie(data)
	function showcatagorie(data) {
		 var parentElement = document.getElementById("parent_id");

	    console.log( ' '.repeat( level ) + data['name'] )
	    if (level > 2) {
	     	data['name'] = '--'.repeat( (level-2) ) + data['name']
	    }
	    var optn = document.createElement("OPTION");
	    optn.text = data['name']
		optn.value = data['value']
		parentElement.options.add(optn);

		for ( child in data['child'] ) {
			level += 1
			showcatagorie(data['child'][child])
			level -= 1
		}

	}

	});

</script>
<div class="content-middle" id="content">

			<div class="notice-box">
			<div class="notice-top"></div>
			<div class="notice-middle">
				<span class="notice-info">&nbsp;</span>
				<span class="block bold">Add category</span><span class="block">Use form below to add your custom category.</span><a href="#" class="notice-close"></a>			</div>
			<div class="notice-bottom"></div>
		</div>



		<form action="/shoppingcart/products/AddCatagorie/" method="post" id="frmCreateCategory" class="pj-form form" novalidate="novalidate">{% csrf_token %}
			<p class="pj-multilang-wrap" data-index="1" style="display: ">
				<label class="title">Name:</label>
				<span class="inline_block">
					<input type="text" name="catagorie_name" class="pj-form-field w300 required" aria-required="true">
									</span>
			</p>
					<p><label class="title">Parent category:</label>
			<select name="parent_id" id="parent_id" class="pj-form-field">


            </select>
		</p>
		<p>
			<label class="title">&nbsp;</label>
			<input type="submit" value="Save" class="pj-button">
			<input type="button" value="Cancel" class="pj-button" onclick="">
		</p>
	</form>
</div>
{% endblock %}
