{% extends "ProductsBase.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% load ZipList %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block header3 %}
   {% include "ProductBase.html" with id=productid  %}

{% endblock %}

{% block content %}
<style type="text/css">
	.red{
		color: Red;
	}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
</style>



<form class="form pj-form"   name="addClientForm" id="addClientForm" ng-app="ServiceMod" autocomplete="off" enctype="multipart/form-data" novalidate="novalidate" action="/shoppingcart/Products/{{ productid }}/Attributes/" method="post"   onsubmit="return validateclientform()"   > {% csrf_token %}
<div class="boxaddresses" id="attributes">

    {%  for attrdetail in attrsdetails   %}
		<div class="boxaddress" id="attribute{{ attrdetail.attr_name_cnt }}" name="attribute{{ attrdetail.attr_name_cnt }}">

       <p name="para_attr_name{{ attrdetail.attr_name_cnt }}" id="para_attr_name{{ attrdetail.attr_name_cnt }}">
	    <span>
		    <label> Attribute  Set name :</label>
		    <input type="text" placeholder="Attribute Name" id="attr_name_{{ attrdetail.attr_name_cnt }}" name="attr_name_{{ attrdetail.attr_name_cnt }}" value="{{ attrdetail.attr_name_value }}" required="true" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
	    </span>
	    <button type="button" name="attr_name_delete{{ attrdetail.attr_name_cnt }}" id="attr_name_delete{{ attrdetail.attr_name_cnt }}" value="{{ attrdetail.attr_name_value }}" onclick="delattrname()">Delete attribute Name</button>
	    </p>
    	<p name="para_attr_value{{ attrdetail.attr_name_cnt }}" id="para_attr_value{{ attrdetail.attr_name_cnt }}">

            {% for attr_value,attr_id in attrdetail.attr_values|ZipList:attrdetail.attr_ids  %}
        	<span>
        		{% if  forloop.first  %}
        		    <label>Attribute  value:</label>
                {% else %}
    				<label></label>
                {% endif %}

        		<input type="text" placeholder="Attribute  value" id="attr_name_{{ attrdetail.attr_name_cnt }}_value_{{ forloop.counter }}" name="attr_name_{{ attrdetail.attr_name_cnt }}_value_{{ forloop.counter }}" value="{{  attr_value }}" required="true">

        		{% if not forloop.first  %}
			        <button type="button" name="attr_name_{{ attrdetail.attr_name_cnt }}_value_delete_{{ forloop.counter }}" id="attr_name_{{ attrdetail.attr_name_cnt }}_value_delete_{{ forloop.counter }}" onclick="delattrvalue()">Delete attribute value</button>
                {% endif %}

				<input type="hidden" name="attr_name_{{ attrdetail.attr_name_cnt }}_value_{{ forloop.counter }}_edit" value="{{ attr_id }}">

	        </span>

            {% endfor %}


        </p>
			<button type="button" name="addattrvalue{{ attrdetail.attr_name_cnt }}" id="addattrvalue{{ attrdetail.attr_name_cnt }}" onclick="addattrvalue()">Add attribute value</button>
				</div>

    {% endfor %}

</div>
<button type="button" name="Add_new_attribute_set" value="Add new attribute set"  onclick="AddNewAttributeSet()">Add new attribute set </button>
<button id="copy_attributes" type="button" value="copy_attributes" >Copy attributes from similar product</button>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
        <div id="productsdiv"> <table id="showproducts" class="table table-striped table-bordered table-hover"    cellspacing="0" width="50%" >
            <tbody></tbody></table>
        </div>

    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>
<input type="submit" value="Save Attributes">

</form>

<script>

// Django CSRF framework
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("copy_attributes");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
    // if table contains rows and then clear the table, then do ajax call and fill it with list of product info.
    ShowProducts();

}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function CopyAttributes() {
  srcelement = event.srcElement;
  baseuri = srcelement.baseURI;
  var re = /\/shoppingcart\/Products\/(\d+)\/Attributes/i;
  var found = baseuri.match(re);
  productid = found[1];
  srcproductid = srcelement.id;
   $.ajax({
            method:'post',
            url:"/shoppingcart/Products/GetProductAttributes/",
            data: {
                "srcproductid" :    srcproductid
            },
            success:function(response){
                // console.log(response);
                productlist =eval(response);
            }
   });
}

function ShowProducts() {

   $.ajax({
            method:'get',
            url:"/shoppingcart/Products/getallProducts/",

            success:function(response){
                // console.log(response);
                productlist =eval(response);
                rows_count =  $("#showproducts").rows;
                if(rows_count) {
                    $("#showproducts tbody").empty()
                }
                var trHTML = '';

                $.each(response.data, function (i, item) {
                    trHTML += '<tr><td>' + item.product_name + '</td><td>' + '<button id=' + item.product_id + ' onclick="CopyAttributes()">Copy</button>' +  '</td></tr>';
                });

                $('#showproducts tbody').append(trHTML);
            }
      });
}


function delattrname() {
   	srcelement = event.srcElement ;
    uri = srcelement.baseURI
    var re = /\/shoppingcart\/Products\/\d+\//i;
    var found = uri.match(re);
    url = found[0];
   	element_id = srcelement.id ;
    attribute_value = srcelement.value;
    $.ajax({
          url: url + "delAttributeName/",
          data: {
           "attribute" :    attribute_value
           },
          method: 'POST',
      }).success(function (data, textStatus, jqXHR) {

        var regex = /\d+$/g;
        var matches = element_id.match(regex);

        if( matches.length ) {
            match = matches[0];
        }
        $("#attribute" + match ).remove();

      }).error(function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
      });


}

var i = {{ attributes_cnt }}

function AddNewAttributeSet() {
	<!--var h = document.createElement("H1")-->
	<!--var t = document.createTextNode("Attributes");     // Create a text node-->
	<!--h.appendChild(t);-->
	i += 1
	var addform = document.getElementById("attributes" );
    var attributesdiv = document.createElement("div");
	attributesdiv.setAttribute("id", "attribute" + i);
	attributesdiv.setAttribute("name", "attribute" + i);
	attributesdiv.setAttribute("class", "boxaddress" );
  	<!--attributesdiv.appendChild(h);-->
	addform.appendChild(attributesdiv);

    id = "para_attr_name" + i
    para = createpara( id)
    label = " Attribute  Set name :";
	placeholder = "Attribute Name";
	id = "attr_name_" + i;
	txt = addtext(label, placeholder,id);
	para.appendChild( txt );
    attributesdiv.appendChild( para );

	id =  'attr_name_delete' + i;
	label = "" ;
	innerhtml =  "Delete attribute Name";
	button = createbutton( id, label, innerhtml )
    button.onclick = delattrname
    para.appendChild( button );
    attributesdiv.appendChild( para );

    j = 1
    id = "para_attr_value" + i
    para = createpara( id)
    label = "Attribute  value:";
	placeholder = "Attribute  value";
	id = "attr_name_" + i + "_value_"	+ j;
	span_txt = addtext(label, placeholder,id);
    para.appendChild( span_txt );
    attributesdiv.appendChild( para );


   	<!--button.onclick = delattrvalue;-->

	id =  'addattrvalue' + i;
	label = "" ;
	innerhtml =  "Add attribute value";
	button = createbutton( id, label, innerhtml );
	button.onclick = addattrvalue;
  	attributesdiv.appendChild( button );

}

function addattrvalue() {
   parent_node = this.parentNode
  if ( ! parent_node ) {
  	parent_node =	event.target.parentNode;
  }
    parent_node_id = parent_node.id ;
    var regex = /\d+$/g;
    var matches = parent_node_id.match(regex);
    if( matches.length ) {
        attr_name_cnt = matches[0];
    }
    <!--paranode = parent_node.childNodes;-->
    <!--txtnodes = paranode[3].childNodes;-->
    spannodes = parent_node.getElementsByTagName("span") ;
    attr_value_cnt = spannodes.length ;
    label = "";
	placeholder = "Attribute  value";
	id = "attr_name_" + attr_name_cnt + "_value_"	+ attr_value_cnt;
	span_txt = addtext(label, placeholder,id);
	id = "para_attr_value" + attr_name_cnt
	para = document.getElementById( id );
    para.appendChild( span_txt );

    btnid =  'attr_name_' + attr_name_cnt + "_value_delete_" + attr_value_cnt ;
	label = "" ;
	innerhtml =  "Delete attribute value";
	button = createbutton( btnid, label, innerhtml )
	button.onclick = delattrvalue;
    span_txt.appendChild( button );
}

function delattrvalue() {
  parentelement = this.parentNode
  if ( ! parentelement ) {
  	parentelement =	event.target.parentNode;
  }


  	srcelement = event.srcElement ;
    uri = srcelement.baseURI
    var re = /\/shoppingcart\/Products\/\d+\//i;
    var found = uri.match(re);
    url = found[0];
    txtvalue = parentelement.children[1].value;
  	attr_id = parentelement.children[3].value;

  if ( txtvalue ) {
    var txt;
    if (    confirm("Do you want to delete attribute " + txtvalue )   ) {

        $.ajax({
          url: url + "delAttribute/",
          data: {
           "attribute_id" :    attr_id
           },
          method: 'POST',
      }).success(function (data, textStatus, jqXHR) {

               parentelement.remove();


      }).error(function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
      });
    }
  }
  else {
    parentelement.remove();
  }

}

function createpara( id ) {

	var para_attr = document.createElement('p');
	para_attr.setAttribute('name',id );
	para_attr.setAttribute('id', id );
	para_attr.innerHTML = "";
    return para_attr;
}

function createbutton( id, label, innerhtml ) {

	var addbutton = document.createElement('button');
	addbutton.setAttribute('type', "button");
	addbutton.setAttribute('name', id );
	addbutton.setAttribute('id', id );
	addbutton.innerHTML = innerhtml;
    return addbutton;
}

function addtext(label, placeholder,id) {
	var addrform = document.getElementById("attribute" + i);

	var r = document.createElement('span');
	var statelabel = document.createElement("label");
	statelabel.innerHTML = label;
	var y = document.createElement("INPUT");
	y.setAttribute("type", "text");
	y.setAttribute("placeholder", placeholder);
	y.setAttribute("id", id );
	y.setAttribute("name", id );
	y.setAttribute("required",true);

	r.appendChild(statelabel);
	r.appendChild(y);
    return r;
}




</script>
{% endblock %}
