{% extends "ProductsBase.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}
<script>
function postformdata( opn, method,   nodeid) {
        method = method || "post"; // post (set to default) or get

        url = "" ;
        if (opn == "uparrow"  ) {
            url = "/shoppingcart/Products/uparrow/" + nodeid + "/";
        }
        if (  opn == "downarrow" ) {
             url = "/shoppingcart/Products/downarrow/" + nodeid + "/";

        }
        if (opn == "DeleteCatagory") {
            url = "/shoppingcart/Products/DeleteCatagory/"
        }

        if ( opn == "deletecatagories" ) {
            url = "/shoppingcart/Products/DeleteCatagories/"

        }
        // Create the form object
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", url);
        form.innerHTML +=  "{% csrf_token %}"
        // For each key-value pair
        <!--for (key in dictionary) {-->
            //alert('key: ' + key + ', value:' + dictionary[key]); // debug
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", opn);
            hiddenField.setAttribute("value", nodeid);
            // append the newly created control to the form
            form.appendChild(hiddenField);
        <!--}-->

        document.body.appendChild(form); // inject the form object into the body section
        form.submit();
    }
 $( document ).ready(function() {

	data = {{ data|safe }};
    level = 1;
    catagories_html = '<thead> <tr><th><input type="checkbox"  aria-label="..."></th><th>Name</th><th>Products</th><th></th><th></th><th> Action</th></tr></thead>';
	showcatagorie(data, "noarrow")
	var t = $("#catagories");
    t.html( catagories_html );
    t.DataTable();
    $(".search").append('<i class="fa fa-search" aria-hidden="true"></i>');
});
	function showcatagorie(data, movenode) {
        if ( data['value'] != 1 ) {
            console.log( ' '.repeat( level ) + data['name'] )
            if (level > 2) {
                data['name'] = '--'.repeat( (level-2) ) + data['name']
            }
            catagories_html += '<tr id=' + data['value'] + '><td><input type=\"checkbox\" name=\"record\"   aria-label=\"...\"></td><td>' + data['name'] + '</td><td> \
            <input type="text" value="01"></td>' ;
            if (movenode == "uparrow" || movenode == "botharrow") {
                 catagories_html +=  '<td><button   onClick=\"postformdata( \'uparrow\',  \'POST\', ' + data['value'] + ');\" >uparrow </button></td>'  ;
            }
            else {
                catagories_html +=  '<td></td>'

            }
            if  (movenode == "downarrow" || movenode == "botharrow") {
            catagories_html +=  '<td><button   onClick=\"postformdata( \'downarrow\',  \'POST\', ' + data['value'] + ');\" > downarrow</button></td>'  ;
            }
            else {
                catagories_html +=  '<td></td>'
            }


            catagories_html += '<td><a href=\"/shoppingcart/Products/EditCatagory/' + data['value'] + '/"><span class=\"icons\"> \
			    <i class=\"fa fa-pencil-square-o fa-lg\" aria-hidden=\"true\"></i> </span>  \
             </a><button   onClick=\"postformdata( \'DeleteCatagory\',  \'POST\', ' + data['value'] + ');\" > <span class=\"icons\"> \
			   <i class=\"fas fa-trash-alt fa-lg\"></i> </span></button></td></tr>';
        }

        movenode = ""
		for ( child in data['child'] ) {
			level += 1
			if (child == 0  && data['child'].length > 1) {
			   movenode = "downarrow";
			}
			else if (data['child'].length > 1 && child == (data['child'].length - 1)) {
				 movenode = "uparrow";
            }
            else if ( child > 0 && child < data['child'].length ) {
        		 movenode = "botharrow"
            }
            else {
                 movenode = "noarrow"
             }
			showcatagorie(data['child'][child], movenode)
			level -= 1
		}

	}




function deletemultirow() {
    rows = document.getElementById('catagories').rows;
    var result_array = new Array();
    for(var i=0; i<rows.length; i++)
    {
        rowid = parseInt( rows[i].getAttribute('id') )
        if(i == 0 ) {
            continue;
        }
        selected = rows[i].childNodes[0].childNodes[0].checked ;
        if (selected) {
            result_array.push(rowid);
        }
    }
      if(result_array!=""){
        rowids = result_array.join(",");
      }
      else {
          alert("no rows selected");
          return false ;
      }
      data = { "rowids":result_array, }
     postformdata( "deletecatagories", "POST",   rowids)
}

function triggerdelete(  ) {
    var selectedValue = event.srcElement

    if ( selectedValue.value == "delete" ) {
        deletemultirow();
    }
}


</script>

    <div class="menu Products-page-menu">
        <div>
            <form>
                <button class="btn btn-default add" onclick="location.href='/shoppingcart/Products/AddCatagorie/'"  value="Add Catagorie" >Add category</button>{% csrf_token %}
            </form>
        </div>
    </div>


    <div class="Products-page-category">

        <div class="table1">

            <table  style="width: 100%;" id="catagories" class=" table-hover   stripe">


            </table>
            <div class="tfoot">
                <select class="selectpicker" id="DeleteAction" onchange="triggerdelete()" >
                      <option value="Online">Choose Action </option>
                      <option value="delete" >Delete Selected </option>
                  </select>
            </div>
        </div>
    </div>



{% endblock %}
