{% extends "ShoppingcartBase.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
 {% block header2 %}

        <!-- Start sub menu -->
    <div class="menu Products-menu">
        <div>
            <button type="button" class="btn btn-default" onclick="window.location.href='/shoppingcart/Products/ListProducts/'">Produtcs</button>
            <button type="button" class="btn btn-default" onclick="window.location.href='Stock.html'">Stock</button>
            <button type="button" class="btn btn-default active" onclick="window.location.href='/shoppingcart/Products/Catagories/'">categories</button>

        </div>
    </div>
    <!-- End sub menu -->

{% endblock %}

