{% extends "ProductsBase.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block header3 %}
   {% include "ProductBase.html" with id=product.id  %}

{% endblock %}


{% block content %}



<div id="tabs-1" >
    <form action="/shoppingcart/Products/{{ product.id }}/ProductDetail/" method="post" id="frmCreateProduct" class="pj-form form" onsubmit="return ValidateForm();" >{% csrf_token %}

    <div class="notice-box">
        <span class="block">Enter product details below. You can assign a product to one or more categories (change categories under Options page, Categories tab) and to make it featured.</span>
   </div>

        <p><label class="title">Status</label>
            <select name="status" id="status" >
                <option value="1" {% if product.product_status == True  %} selected {% endif %}  >Available</option>
                <option value="0" {% if product.product_status == False  %} selected {% endif %}>Hidden</option>
            </select></p>
            <p>
                <label class="title">Product name</label>
                <span class="inline_block">
                    <input type="text" name="product_name"  id="product_name" value={{ product.product_name }} >
	                <div class="product_name-msg red"></div>

                </span>
            </p>
        {% if data|length > 1 %}
            <!-- printing some html here -->

            <div class="multiselect">
                <p><label class="title">Category:</label>
                <div class="selectBox" id="selectBox" onclick="showCheckboxes()" >
                    <select>
                        <option>Select an option</option>
                    </select>
                    <div class="overSelect">

                    </div>
                </div>
                <div id="checkboxes"  >
                </div>
            </div>
        {% endif %}
        <p>
            <label class="title">Short description</label>
            <span class="inline_block">
                <textarea name="product_desc"  id="product_desc"> {{ product.product_desc }} </textarea>
	                <div class="product_desc-msg red"></div>

            </span>
         </p>
         <p>
                <label class="title">Full description</label>
                <span class="block overflow">
                    <textarea id="product_full_desc" name="product_full_desc"> {{ product.product_full_desc }} </textarea>
	                <div class="product_full_desc-msg red"></div>

                </span>
            </p>
        <p><label class="title">Is featured</label>
            <span class="left">
                <input type="checkbox" name="is_featured" id="is_featured" value="{{ product.is_featured }}" {% if product.is_featured == True  %} checked {% endif %}>
            </span></p>
        <p>
            <label class="title">&nbsp;</label>
            <input type="submit" value="Save" class="pj-button">
            <input type="button" value="Cancel" class="pj-button" onclick="">
        </p>
    </form>
</div>


<script>

var expanded = false;
function showCheckboxes() {
    var checkboxes = document.getElementById("checkboxes");
    if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
    } else {
        checkboxes.style.display = "none";
        expanded = false;
    }
 }

$( document ).ready(function() {
	categoriename = ""
	data = {{ data|safe }};
	catagorieids = {{ catagorieids|safe }};
    level = 1
	showcatagorie(data)

	selectbox = document.getElementById("selectBox");
	$( "#checkboxes" ).append( categoriename);
    var countChecked = function() {
       var n = $( "input:checkbox[name^='check']:checked" ).length;
       selectbox.children[0].children[0].innerHTML =  n + " selected"
    };
    {% if catagorieids|length > 1 %}
        countChecked();
    {% endif %}
  $("input:checkbox[name^='check']").on( "click", countChecked );


  function showcatagorie(data) {

        console.log( ' '.repeat( level ) + data['name'] )
        if (level > 2) {
            data['name'] = '--'.repeat( (level-2) ) + data['name']
        }
         if ( data['name'] !=  "noparent" ) {


		    categoriename+= "<label for=" + data['name'] +  ' > <input type="checkbox" name=' + "check" + data['value']
            if ( catagorieids.indexOf( data['value'] ) > -1 ) {
                categoriename+= " checked";
            }
             categoriename+= " />" + data['name'] + " </label>";
        }
        for ( child in data['child'] ) {
            level += 1
            showcatagorie(data['child'][child])
            level -= 1
        }

    }

	});

function ValidateForm(){

     $('.product_name-msg').html('');
     $('.product_desc-msg').html('');
     $('.product_full_desc-msg').html('');
     var isValidForm=true;
    product_name = $('#product_name').val()
    if( !product_name || product_name.trim()=="" )
    {
        isValidForm=false;
        $('.product_name-msg').html("Please enter Product Name")
    }

    product_desc = $('#product_desc').val()
    if( !product_desc || product_desc.trim()=="" )
    {
        isValidForm=false;
        $('.product_desc-msg').html("Please enter product description")
    }
    product_full_desc = $('#product_full_desc').val()

    if( !product_full_desc || product_full_desc.trim()=="" )
    {
        isValidForm=false;
        $('.product_full_desc-msg').html("Please enter product full description")
    }

    if(isValidForm)
    {
         return true;
    }
    else
    {
         return false;
    }

}
</script>
{% endblock %}