<div>
<span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/ProductDetail/">Details</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/Digital/">Digital</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/Attributes/" id="ProductAttributes" >Attributes</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/photos/">Photos</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/InStock/">In Stock</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/Extras/">Extras</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/SimilarProducts/">SimilarProducts</a></span>
    <span><a class="btn" href="/shoppingcart/Products/{{ id }}/History/">History</a></span>

</span>
</div>

