<div>
<span>
    <span><a href="/shoppingcart/products/{{ id }}/ProductDetail/">Details</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/Digital/">Digital</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/Attributes/">Attributes</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/photos/">Photos</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/InStock/">In Stock</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/Extras/">Extras</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/SimilarProducts/">SimilarProducts</a></span>
    <span><a href="/shoppingcart/products/{{ id }}/History/">History</a></span>

</span>
</div>

