{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}



<!-- Start Payments -->

			<div class="Payments">

<div class="table1">
<form role="form" method="POST" action="/shoppingcart/options/PaymentOptions/" onsubmit="updateform()">
<table>
  <tr>
							<th>Option</th>
							<th class="value">Value</th>
  </tr>

     <tr>
							<td>Check if you want to disable payments and only collect reservation details</td>
							<td>
                                  <input id="o_disable_paymentsCB" type="checkbox" name={{ items.o_disable_payments_id }}  {% if items.o_disable_payments_selected == 1 %} checked {% endif %}   value="{{items.o_disable_payments_selected}}" />
							</td>
	</tr>




     <tr>
							<td>Set deposit amount to be collected for each appointment</td>
							  <td>
                                 <span> <input  style="width: 15%;" type="text" name='{{ items.o_deposit_id }}'  value="{{items.o_deposit}}"/></span>
                                <select  class="selectpicker percent" name="{{ items.o_deposit_type_id }}">
                                        {% for entry in items.o_deposit_typeList %}
                                          <option {% if entry == items.o_deposit_type_selected %}  selected {% endif %} value="{{ entry }}">{{ entry }}</option>
                                        {% endfor %}
                                </select>
							  </td>
						  </tr>

<tr>
							<td>Tax amount to be collected for each appointment</td>
							 <td>
								<div class="input-group">
								  <span class="input-group-addon" id="basic-addon3"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                     <input class="form-control paypal" type="number" aria-describedby="basic-addon3" placeholder="{{items.o_tax}}" name='{{ items.o_tax_id }}' value="{{items.o_tax}}" />
								</div>
							</td>
						  </tr>


</table>
                        <div class="text-center">
							<button type="submit">Save</button>
						</div>

</form>

</div>

            </div>




<script type="text/javascript">

    $(document).ready(function() {
    //set initial state.
 $('#o_disable_paymentsCB').change(function() {
        if($(this).is(":checked")) {
         $(this).val(true);
        }
        else
        {
           $(this).val(false);
        }
    });
});

    //set initial state.
    function updateform() {
        $('#o_disable_paymentsCB').val();
     return true ;
  }
</script>

{% endblock %}
