{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}

                        <div id="payments">
                            <h2>Booking options</h2>
                            <form class="form-horizontal" role="form" method="POST" action="{% url 'appointmentschduler:PaymentOptions' %}" onsubmit="updateform()">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label no-padding-right" for="o_disable_payments">Check if you want to disable payments and only collect reservation details</label>

                                    <div class="col-sm-6">
                                        <input class="form-control" id="o_disable_paymentsCB" type="checkbox" name='{{ items.o_disable_payments_id }}' ' {% if items.o_disable_payments_selected == 1 %} checked {% endif %} '  value="{{items.o_disable_payments_selected}}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label no-padding-right" for="o_deposit">Set deposit amount to be collected for each appointment</label>

                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" name='{{ items.o_deposit_id }}'  value="{{items.o_deposit}}"/>
                                        <select name="{{ items.o_deposit_type_id }}">
                                        {% for entry in items.o_deposit_typeList %}

                                          <option {% if entry == items.o_deposit_type_selected %}  selected {% endif %} value="{{ entry }}">{{ entry }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label no-padding-right" for="o_tax">Tax amount to be collected for each appointment in %</label>

                                    <div class="col-sm-6">
                                        <input class="form-control" type="number" name='{{ items.o_tax_id }}' value="{{items.o_tax}}" />
                                    </div>
                                </div>
                             
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="col-md-offset-6 col-sm-6">
                                        <button class="btn btn-submit" type="submit">
                                            <i class="ace-icon fa fa-check"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>


<script type="text/javascript">



    $(document).ready(function() {
    //set initial state.
 $('#o_disable_paymentsCB').change(function() {
        if($(this).is(":checked")) {
         $(this).val(true);
        }
        else
        {
           $(this).val(false);
        }
    });
});

    //set initial state.
    function updateform() {

        $('#o_disable_paymentsCB').val();
        alert($('#o_disable_paymentsCB').val());
     return true ;
  }
</script>


                            {% endblock %}
