{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}Dashboard{% endblock %}
{% block extraHeader %}
{% endblock %}

{% block content %}

<div id="CountryFormOptions">
	<h2 align="center">SMS Twilio Configuration</h2>
 <form class="form-horizontal" role="form" method="POST" onsubmit="return SMSConfigValidation();" action="{% url 'appointmentschduler:SMSConfig' %}">{% csrf_token %}

<div class="form-group">
    <label class="col-sm-6 control-label " for="o_TWILIO_ACCOUNT_SID">TWILIO ACCOUNT SID</label>
    <div class="col-sm-6">
       <input id="o_TWILIO_ACCOUNT_SID" class="TWILIO_ACCOUNT_SID text-width" maxlength="250" name="o_TWILIO_ACCOUNT_SID" type="text"  value="{{items.o_TWILIO_ACCOUNT_SID}}"   />
       <div class="TWILIO_ACCOUNT_SID-msg red"></div>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-6 control-label " for="o_TWILIO_AUTH_TOKEN"> TWILIO AUTH TOKEN</label>
    <div class="col-sm-6">
       <input id="o_TWILIO_AUTH_TOKEN" class="TWILIO_AUTH_TOKEN text-width" maxlength="250" name="o_TWILIO_AUTH_TOKEN" type="text"  value="{{items.o_TWILIO_AUTH_TOKEN}}"   />
       <div class="TWILIO_AUTH_TOKEN-msg red"></div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-6 control-label " for="o_TWILIO_FROM_NUMBER"> TWILIO FROM NUMBER</label>
    <div class="col-sm-6">
       <input id="o_TWILIO_FROM_NUMBER" class="TWILIO_FROM_NUMBER text-width" maxlength="250" name="o_TWILIO_FROM_NUMBER" type="text"  value="{{items.o_TWILIO_FROM_NUMBER}}"   />
       <div class="TWILIO_FROM_NUMBER-msg red"></div>
    </div>
</div>

 <div class="form-group">
 <div class="col-md-offset-6 col-sm-6">
 <button class="btn btn-submit" type="submit"> <i class="ace-icon fa fa-check"></i> Save </button>
 </div>
 </div>
</form>


<div id="CountryFormOptions">
	<h2 align="center">Send SMS Using Twilio</h2>


<div class="form-group">
    <label class="col-sm-6 control-label " for="MobileNumber">Mobile Number with Country Code</label>
    <div class="col-sm-6">
       <input id="MobileNumber" class="MobileNumber text-width" maxlength="250" name="MobileNumber" type="text"  value="{{items.MobileNumber}}"   />
       <div class="MobileNumber-msg red"></div>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-6 control-label " for="Message">Message</label>
    <div class="col-sm-6">
       <input id="Message" class="Message text-width" maxlength="250" name="Message" type="text"  value="{{items.Message}}"   />
       <div class="Message-msg red"></div>
    </div>
</div>


<div class="form-group">
 <div class="col-md-offset-6 col-sm-6">
 <button class="btn btn-submit" type="button" onclick="return SendMessage();"> <i class="ace-icon fa fa-check"></i> Send Message </button>
 </div>
 </div>

</div>

</div>
<div>
<table id="datatables" class="table table-hover">
        <thead>
        <tr>
         <th><input name="select_all" value="1" id="select-all-records" type="checkbox" /></th> 
            <th>sms_sent_time</th>
            <th>phone_no</th>
            <th>message</th>
            <th>status</th>
            <th></th>

        </tr>
        </thead>
      
    </table>
</div>
<button type="button" id="multicheckbox"  >Delete </button>

<div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure want to delete this country?</h4>
            </div>
            <div class="modal-body">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
     error: function(xhr, textStatus, error) {
        console.log(error);
    }

});
function SMSConfigValidation()
{
	$('.TWILIO_ACCOUNT_SID-msg').html('');
 	$('.TWILIO_AUTH_TOKEN-msg').html('');
 	$('.TWILIO_FROM_NUMBER-msg').html('');

var isValidForm=true;
if($('.TWILIO_ACCOUNT_SID').val().trim()==""){
	isValidForm=false;
	$('.TWILIO_ACCOUNT_SID-msg').html("Please enter TWILIO ACCOUNT SID")
}

if($('.TWILIO_AUTH_TOKEN').val().trim()==""){
	isValidForm=false;
	$('.TWILIO_AUTH_TOKEN-msg').html("Please enter TWILIO AUTH TOKEN")
}

if($('.TWILIO_FROM_NUMBER').val().trim()==""){
	isValidForm=false;
	$('.TWILIO_FROM_NUMBER-msg').html("Please enter TWILIO FROM NUMBER")
}

if(isValidForm)
{
	return true;
}
else
{
	return false;
}

}


function SendMessage()
{

 $('.MobileNumber-msg').html('');
 $('.Message-msg').html('');

var isValidForm=true;
if($('.MobileNumber').val().trim()==""){
	isValidForm=false;
	$('.MobileNumber-msg').html("Please enter Mobile Number with country Code")
}

if($('.Message').val().trim()==""){
	isValidForm=false;
	$('.Message-msg').html("Please enter Message")
}

if(isValidForm)
{
  
  $.ajax({
  url: "{% url 'appointmentschduler:SendSMS' %}",
  method: 'POST',
  data : {
          "MobileNumber":$('.MobileNumber').val(),
          "Message":$('.Message').val(),
         },
  }).success(function (data, jqXHR) 
  {
        $('.modal-title').text('Messgae sent successfully');
        $("#messageStatus").modal();

  }).error(function (jqXHR, errorThrown) {
     $('.modal-title').text('Messgae not sent');
        $("#messageStatus").modal();
    }); 
}


}

var getfilter = "all";

var rows_selected = [];
draw_datatable();

var table ;
function draw_datatable() {
  if ( $.fn.dataTable.isDataTable( '#datatables' ) ) {
     table.destroy();
  }

   table = $('#datatables').DataTable({
        "processing": true,
        "ajax": {
            "url": "/appointmentschduler/listsms/",
            "data": function(d) {
              d.querydata = getfilter
            },
            "type": "GET"
        },        

        "createdRow": function( row, data, dataIndex ) {
                        $(row).attr('id', data.id);
           
          },  
       
        "columnDefs": [ 

            {
              'targets': 0,
              'searchable': true,
              'orderable': false,
              'className': 'dt-body-center',
              "data": null,
              render: function ( data, type, row ) {
                return  '<input type="checkbox" name="id[]" value="">' 
               }
            },
            {
             'targets':1,
              "data": "sms_sent_time"
            },
            {
              'targets':2,
              "data": "phone_no"

            },
            {
             'targets':3,
              "data": "message"
            },
            {
               'targets':4,
              "data": "status"
            },
          
            
            {
              'targets':5,
              "data": null,
              "defaultContent": '<button type="button" class="btn btn-danger"  id="delete">Delete</button>'
            }
            
        
        ],
            'rowCallback': function(row, data, dataIndex){
             // Get row ID
             var rowId = data[0];
            
             // If row ID is in the list of selected row IDs
               if($.inArray(rowId, rows_selected) !== -1){
                  $(row).find('input[type="checkbox"]').prop('checked', true);
                 
               }
            }
      });
}
    let id = 0;





function updateDataTableSelectAllCtrl(table){
   var $table             = table.table().node();
   var $chkbox_all        = $('tbody input[type="checkbox"]', $table);
   var $chkbox_checked    = $('tbody input[type="checkbox"]:checked', $table);
   var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);
 
   // If none of the checkboxes are checked
   if($chkbox_checked.length === 0){
      chkbox_select_all.checked = false;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = false;
      }
 
   // If all of the checkboxes are checked
   } else if ($chkbox_checked.length === $chkbox_all.length){
      chkbox_select_all.checked = true;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = false;
      }
 
   // If some of the checkboxes are checked
   } else {
      chkbox_select_all.checked = true;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = true;
      }
   }
}

// Handle click on table cells with checkboxes
   $('#datatables').on('click', 'tbody td, thead th:first-child', function(e){
      $(this).parent().find('input[type="checkbox"]').trigger('click');
   });

  // Handle click on checkbox
$('#datatables tbody').on('click', 'input[type="checkbox"]', function(e){
      var $row = $(this).closest('tr');
 
      // Get row data
      var data = table.row($row).data();
 
      // Get row ID
      var rowId = data.id;
 
      // Determine whether row ID is in the list of selected row IDs 
      var index = $.inArray(rowId, rows_selected);
 
      // If checkbox is checked and row ID is not in list of selected row IDs
      if(this.checked && index === -1){
         rows_selected.push(rowId);
 
      // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
      } else if (!this.checked && index !== -1){
         rows_selected.splice(index, 1);
      }
 
      if(this.checked){
         $row.addClass('selected');
      } else {
         $row.removeClass('selected');
      }
 
       // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);
      // Prevent click event from propagating to parent
      e.stopPropagation();
   });
 
  
 
   // Handle click on "Select all" control
   $('thead input[name="select_all"]', table.table().container()).on('click', function(e){
      if(this.checked){
         $('#datatables tbody input[type="checkbox"]:not(:checked)').trigger('click');
      } else {
         $('#datatables tbody input[type="checkbox"]:checked').trigger('click');
      }
 
      // Prevent click event from propagating to parent
      e.stopPropagation();
   });
 
  // Handle table draw event
   table.on('draw', function(){
      // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);
   });
 
 

 
   $("#multicheckbox").on('click',function(){
      var ids = $.map(table.rows('.selected').data(), function (item) {
            return item.id;
        });
      if(ids!=""){
        rowids = ids.join(",");
      }
      else {
          alert("no rows selected");
          return
     }
       $.ajax({
                url: "/appointmentschduler/deletemultiplesms/",
                method: 'POST',
                data : {
                        "rowids":rowids,
                      },
          }).success(function (data, textStatus, jqXHR) {
                $.each(ids, function( index, value ) {
                  table.row( '#' + value ).remove().draw();
                });
            }).error(function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR)
          });    
   
   });
 
    
$('#datatables tbody').on('click', 'button', function () {
    let data = table.row($(this).parents('tr')).data();
    let class_name = $(this).attr('class');
    let op_id = $(this).attr('id');

  if( op_id == 'delete') {
        // DELETE button
        $('#modal_title').text('DELETE');
        $("#confirm").modal();
    }

   id = data['id'];

});

      // FOR TESTING ONLY
      
      // // Output form data to a console
      // $('#example-console').text($(form).serialize()); 
      // console.log("Form submission", $(form).serialize()); 
       
      // Prevent actual form submission
    


    $('#confirm').on('click', '#delete', function (e) {

        $.ajax({
              url: "/appointmentschduler/deletesms/" + id + "/",
              method: 'POST'
          }).success(function (data, textStatus, jqXHR) {
               table
        .row( '#' + id )
        .remove()
        .draw();
          }).error(function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR)
          });         
  });
</script>


{% endblock %}