{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% load get_item %}

{% block title %}
{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="Booking">
<div class="table1">

    <form role="form" method="POST" action="{% url 'appointmentschduler:BookingFormOptions' %}">
	<table>
         <tr>
							<th>Option</th>
							<th class="value">Value</th>
							<th></th>
		</tr>

          <tr>
							<td>Name</td>
							<td>
								<select class="selectpicker" name="{{ items.o_bf_name_id }}">
    {% for entry in items.o_bf_name %}
    <option {% if entry == items.o_bf_name_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							</td>
							<td></td>
          </tr>


         <tr>
							<td>Email</td>
							  <td>
								<select class="selectpicker" name="{{ items.o_bf_email_id }}">
    {% for entry in items.o_bf_email %}
    <option {% if entry == items.o_bf_email_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							  </td>
							  <td></td>
		</tr>


          <tr>
							<td>Phone</td>
							<td>
								<select class="selectpicker" name="{{ items.o_bf_phone_id }}">
    {% for entry in items.o_bf_phone %}
    <option {% if entry == items.o_bf_phone_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							</td>
							<td></td>
	     </tr>


         <tr>
							<td>Address 1</td>
							 <td>
							<select  class="selectpicker" name="{{ items.o_bf_address_1_id }}">
    {% for entry in items.o_bf_address_1 %}
    <option {% if entry == items.o_bf_address_1_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							</td>
							<td></td>
	     </tr>


        <tr>
							<td>Address 2</td>
							 <td>
							<select  class="selectpicker" name="{{ items.o_bf_address_2_id }}">
    {% for entry in items.o_bf_address_2 %}
    <option {% if entry == items.o_bf_address_2_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							 <td></td>
	 </tr>


  <tr>
							<td>Notes</td>
							  <td>
								 <select  class="selectpicker" name="{{ items.o_bf_notes_id }}">
    {% for entry in items.o_bf_notes %}
    <option {% if entry == items.o_bf_notes_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							 <td></td>
						  </tr>

<tr>
							<td>City</td>
							  <td>
								 <select  class="selectpicker" name="{{ items.o_bf_city_id }}">
    {% for entry in items.o_bf_city %}
    <option {% if entry == items.o_bf_city_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
						  </tr>

        <tr>
							<td>State</td>
							  <td>
								 <select  class="selectpicker" name="{{ items.o_bf_state_id }}">
    {% for entry in items.o_bf_state %}
    <option {% if entry == items.o_bf_state_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
	     </tr>



        <tr>
							<td>Zip</td>
							  <td>
								<select  class="selectpicker" name="{{ items.o_bf_zip_id }}">
    {% for entry in items.o_bf_zipList %}
    <option {% if entry == items.o_bf_zip_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
	 </tr>

        <tr>
							<td>Country</td>
							  <td>
							<select  class="selectpicker" name="{{ items.o_bf_country_id }}">
    {% for entry in items.o_bf_country %}
    <option {% if entry == items.o_bf_country_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
		 </tr>


        <tr>
							<td>Captcha</td>
							  <td>
								<select name="{{ items.o_bf_captcha_id }}">
    {% for entry in items.o_bf_captcha %}
    <option {% if entry == items.o_bf_captcha_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
						  </tr>

        <tr>
							<td>Terms</td>
							  <td>
								 <select name="{{ items.o_bf_terms_id }}">
    {% for entry in items.o_bf_terms %}
    <option {% if entry == items.o_bf_terms_selected %}  selected {% endif %} value="{{ entry }}">{{ items.showlabels|get_item:entry }}
    </option>
    {% endfor %}
    </select>
							 </td>
							<td></td>
						  </tr>

    </table>
<div class="text-center">
							<button type="submit">Save</button>
</div>
    </form>
</div>

</div>
 {% endblock %}