{% extends "base.html" %}
{% load static from staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% block extraHeader %}
{% endblock %}
{% block content %}



<!-- Start Payments -->

<div class="Payments">
   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<div class="table1">
<form role="form" method="POST" action="/shoppingcart/options/PaymentOptions/" >{% csrf_token %}
<table>
  <tr>
							<th>Option</th>
							<th class="value">Value</th>
  </tr>

  <tr>
			<td>Check if you want to disable payments and only collect order details</td>
			<td>
<input id="sc_disable_payments_and_collect_orders" type="checkbox" name="sc_disable_payments_and_collect_orders"  
  {% if items.disable_payments_selected == '1' %} checked {% endif %}  />
			</td>
	</tr>

  <tr>
      <td>Check if you want to disable placing orders and use the cart in catalogue mode</td>
      <td>
<input id="sc_disable_order_and_enable_cart_catalogue" type="checkbox" name="sc_disable_order_and_enable_cart_catalogue"  
  {% if items.enable_cart_selected == '1' %} checked {% endif %}  />
      </td>
  </tr>

  <tr>
		<td>Currency</td>
		<td>
       <select  class="selectpicker percent" name="sc_currency">
                {% for entry in items.currency_list %}
                  <option {% if entry == items.currency_selected %}  selected {% endif %} value="{{ entry }}">{{ entry }}</option>
                {% endfor %}
            </select>
		</td>
	</tr>

  <tr>
      <td>Add insurance fee for each order</td>
      <td>

<select  class="selectpicker percent" name="sc_insurance_fee_type">
        {% for entry in items.fee_type_list %}
          <option {% if entry == items.fee_type_selected %}  selected {% endif %} value="{{ entry }}">{{ entry }}</option>
        {% endfor %}
    </select>

<input id="sc_insurance_fee" type="text" name="sc_insurance_fee"  value="{{ items.fee }}"/>
      </td>
  </tr>

</table>
    <div class="text-center">
    	<button type="submit">Save</button>
    </div>

</form>

</div>
</div>






{% endblock %}
